
#symmetry-guide-page {
	text-align: center;
}

#symmetry-guide-page .canvas.extra-small {
	width: 20px;
	height: 20px;
}
#symmetry-guide-page .book-section-title {
	margin-bottom: 25px;
}
.print #symmetry-guide-page .book-section-title {
	margin-top: 0;
	padding: 10px 30px;
	border-bottom: 5px double purple;
}
#symmetry-guide-page .book-section-title h2 {
	font-weight: 400;
	margin-bottom: 10;
	margin-top: 10;
	font-size: 1.2em; /* small enough for one line on a phone */
}
#symmetry-guide-page .book-section-title h3,
#symmetry-guide-page .book-section-title h4 {
	font-weight: 300;
	font-size: 0.68em; /* small enough for one line on a phone */
	margin: 0;
}

#symmetry-guide-page #definitions-container {
	max-width: 700px;
	margin: auto;
	padding: 0 10px 30px;
}

#symmetry-guide-page p,
#symmetry-guide-page a.symmetry-guide-term-name {
	text-align: left;
	margin: auto;
	color: black;
}
#symmetry-guide-page p {
	padding: 8px 0;
}
#symmetry-guide-page .text-content-graphic p {
	padding: 3px 0;
}

#symmetry-guide-page .symmetry-guide-term-name,
#symmetry-guide-page a.symmetry-guide-term-name {
	font-weight: 600;
	text-decoration: none;
	font-size: larger;
}
