<style>

#posters h1 {
	margin: 40px auto;
	color: purple;
}

#posters-index {
	text-align: center;
}

#posters-index ul {
	display: inline-block;
	list-style: none;
	padding: 0;
}
#posters-index ul li {
	font-size: 1.5em;
	padding: 5px;
}

</style>

<div id="posters" class="view" ng-controller="PostersCntl as posters">

	<!-- If poster page is selected, then include it -->
	<ng-include ng-show="posters.posterPageSrc" src="posters.posterPageSrc"></ng-include>

	<!-- Otherwise show the list of pages -->
	<div id="posters-index" ng-show="!posters.posterPageSrc">
		<h1>POSTERS</h1>

		<ul>
			<!-- Other posters -->
			<li ng-repeat="(pName, link) in posters.otherPosters">
				<a ng-href={{link}}>{{pName}}</a>
			</li>
			<!-- Frieze posters -->
			<li ng-repeat="(groupName, link) in posters.friezePosters">
				<a href={{link}}>Frieze Patterns: {{groupName}}</a>
			</li>
		</ul>

	</div>

</div>
