
/**
Styles for the side navigation menu.
*/

/*Don't show when printing*/
.print #menu .menu-open-btn {
    display: none;
}
@media print {
    #menu {
        display: none;
    }
    #menu .menu-open-btn {
        display: none;
    }
}


#menu {
    height: 0;
}

#menu nav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: scroll;
    padding: 25px 0; /* Place content this much from the top & bottom */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
#menu nav.opened {
    width: 250px;
}

/* The navigation menu links */
#menu nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.4em;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
#menu nav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

#menu #by-alex-berke {
    font-size: 1em;
    padding-bottom: 30px;
}

#menu .menu-open-btn,
#menu .menu-close-btn
{
    position: absolute;
    cursor: pointer;
}

#menu .menu-open-btn .mobile-only,
#menu .menu-close-btn {
    font-size: 2em;
}
#menu .menu-open-btn .desktop-only {
    font-size: 1em;
}

#menu .menu-open-btn {
    color: #3bcca6;
    top: 20px;
    left: 28px;
}

.menu-open-btn .hamburger-btn-line {
    width: 30px;
    height: 2px;
    background-color: #3bcca6;
    margin: 6px 0;
}

/* Position and style the close button (top right corner) */
#menu .menu-close-btn {
    right: 25px;
    margin-left: 50px;
    font-size: 2.5em;
    top: 5px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    #menu nav a {
        font-size: 1.2em;
    }
}
