<style>

#about {
	/*create blank page: print it on the right side, side left page blank*/
    page-break-before: right;
}

#about .title {
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 50px;
	border-top: 3px double purple;
	border-bottom: 3px double purple;
}

#about .frieze-pattern {
	margin-bottom: 10px;
}

#about .canvas {
	width: 130px;
	text-align: center;
	display: inline-block;
}
#about .canvas.small {
	width: 65px;
}
#about strong {
	font-weight: 500;
}

p#about-illustrations {
	font-style: italic;
}


</style>

<div class="info-view" id="about">

	<h1 class="title">About</h1>
	<div id="about-title-underline" class='frieze-pattern'
		pattern-function=slantedSlices
		draw-options='{"strokeWidth": 1}'
		group-name='p1'
		fundamental-domain-width=50
		fundamental-domain-height=25
		margin=5
		pattern-function-options='{"levels": 2, "pathsPerLevel": 1, "allowCurved": true}'
	></div>

	<p>This coloring book is both digital and on paper.</p>

    <div class="text-content-graphic line">
        <div class='canvas small'
            canvas-centered-drawing
            draw-function='drawRegularPolygon'
            function-options='{"N": 6, "concave":true, "withMirrorSections": true, "coloring":[1,2,0,0,0,0,1,2,0,0,0,0]}'
            options='{"tapRotate": 60, "stroke-width":1}'
        ></div>
        <div class='canvas small'
            canvas-centered-drawing
            draw-function='drawRegularPolygon'
            function-options='{"N": 6, "concave":true, "withMirrorSections": true, "coloring":[1,2,0,0,0,0,1,2,0,0,0,0]}'
            options='{"autoRotateDegrees":120, "initialRotation":120, "stroke-width":1}'
        ></div>
        <div class='canvas small'
            canvas-centered-drawing
            draw-function='drawRegularPolygon'
            function-options='{"N": 6, "concave":true, "withMirrorSections": true, "coloring":[1,2,0,0,0,0,1,2,0,0,0,0]}'
            options='{"tapRotate": 60, "initialRotation":240, "stroke-width":1}'
        ></div>
    </div>

	<p>The paper copy is where the coloring is done - color through the concepts to explore symmetry and the beauty of math.</p>

	<p>The digital copy brings the concepts and illustrations to life in interactive animations.</p>

    <div style="max-width: 550px; display: inline-block;" class='frieze-pattern'
        pattern-function='petalsEllipseWithDiamondPath'
		draw-options='{"strokeWidth": 1}'
        group-name='p11g'
        fundamental-domain-width=50
        fundamental-domain-height=30
        margin=5
    ></div>

	<p>
		<strong>Print a copy:</strong> <a target="_blank" href="/book.pdf">coloring-book.co/book.pdf</a>
	<br/>
		<strong>Digital copy:</strong> <a target="_blank" href="http://www.coloring-book.co">coloring-book.co</a>
	</p>

	<div
		class="canvas small" 
		with-redraw 
		circular-tessellation
		rotations=5
		slices-count=2
		as-flower=true
		levels=1
		margin=0
	></div>

	<p id="about-illustrations">The illustrations in this book are drawn by algorithms that follow the symmetry rules of the groups each illustration belongs to. These algorithms use generative art techniques to add components of randomness - notice the illustrations never repeat.</p>

	<div
		class="canvas" 
		with-redraw 
		circular-tessellation
		rotations=6
		rings=[0.7]
		slices-count=3
		levels=2
		with-reflection=true
		margin=5
	></div>

	<p><strong>Give feedback // Get Updates:</strong> <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeHWQDnA1ycEoDlJQXIz48sPoac-q5QlRo2Dyznu5E2ixYeGg/viewform">coloring-book.co/form</a></p>

</div>