<style>

#about .title {
    font-weight: 300;
    text-transform: uppercase;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 40px;
    border-top: 5px double purple;
    border-bottom: 5px double purple;
}

@media (min-width: 500px) {
	#about .frieze-pattern { min-width: 400px; }
}

#about .canvas {
	text-align: center;
	display: inline-block;
}
#about .canvas-row {
	max-height: 90px;
	max-width: 500px;
	margin: auto;
}
#about .canvas.small {
	width: 65px;
}
#about strong {
	font-weight: 500;
}

p#about-illustrations {
	font-style: italic;
}


</style>

<div class="info-view" id="about">

	<h1 class="title">About</h1>

	<p>This coloring book is both digital and on paper.</p>

    <div class="canvas-row">
        <div class='canvas sixth'
            canvas-centered-drawing
            draw-function='drawRegularPolygon'
            function-options='{"N":10, "concave":true, "withMirrorSections":true}'
            options='{"tapReflect": "H", "margin":0, "initialRotation":90, "mirrorLines":2}'
        ></div><div class="canvas sixth"
            circular-pattern
            with-redraw
            rotations=10
            rings="[0.8,0.9]"
            slices-count=2
            levels=2
            with-reflection=true
            mirror-lines=2
        ></div><div class='canvas sixth'
            canvas-centered-drawing
            draw-function='drawRegularPolygon'
            function-options='{"N":10, "concave":true, "withMirrorSections":true}'
            options='{"tapReflect": "H", "margin":0, "initialRotation":90, "mirrorLines":2}'
        ></div><div class="canvas sixth"
            circular-pattern
            with-redraw
            rotations=10
            rings="[0.8,0.9]"
            slices-count=2
            levels=2
            with-reflection=true
            mirror-lines=2
        ></div><div class='canvas sixth'
            canvas-centered-drawing
            draw-function='drawRegularPolygon'
            function-options='{"N":10, "concave":true, "withMirrorSections":true}'
            options='{"tapReflect": "H", "margin":0, "initialRotation":90, "mirrorLines":2}'
        ></div>
    </div>

	<p>The paper copy is where the coloring is done - color through the concepts to explore symmetry and the beauty of math.</p>

	<p>The digital copy brings the concepts and illustrations to life in interactive animations.</p>

    <div class="text-content-graphic line">
        <div class='canvas third'
        canvas-centered-drawing
        draw-function='drawRegularPolygon'
        function-options='{"N": 6, "concave":true, "withMirrorSections": true, "coloring":[0,0,0,1,0,0,0,0,0,1,0]}'
        options='{"autoRotateDegrees":180, "stroke-width":1}'
        ></div>
    </div>

    <p>
        <strong>Print a copy:</strong> <a target="_blank" href="/book.pdf">coloring-book.co/book.pdf</a>
        <br/>
        <strong>Digital copy:</strong> <a target="_blank" href="http://www.coloring-book.co">coloring-book.co</a>
    </p>
    <br/>
    <frieze-pattern style="max-width: 750px; display: inline-block;"
        pattern-function='petalsEllipseWithDiamondPath'
		draw-options='{"contain": true}'
        group-name='p11g'
        fundamental-domain-width=45
        fundamental-domain-height=45
    ></frieze-pattern>
    <br/>

    <p id="about-illustrations">The illustrations in this book are drawn by algorithms that follow the symmetry rules of the groups each illustration represents. Many of these algorithms also add components of randomness so that each set of illustrations is unique.</p>

    <div class="canvas sixth"
        circular-pattern
        with-redraw
        rotations=8
        slices-count=2
        levels=2
        with-reflection=true
        rings="[0.5,0.6]"
    ></div>

    <p><strong>Give feedback // Get Updates:</strong> <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeHWQDnA1ycEoDlJQXIz48sPoac-q5QlRo2Dyznu5E2ixYeGg/viewform">coloring-book.co/form</a></p>

</div>