<footer>

    <h4 id="footer-title">Illustrating Group Theory: A Coloring Book</h4>
    <p><a href="/">Start</a></p>

    <p><a href="/#!/info#about">About</a></p>
    <p><a href="/#!/info#contact">Contact</a></p>

    <p>This project is open source: <a target="_blank" href="https://github.com/aberke/coloring-book">Contribute on Github</a></p>
    
    <br/>
    <br/>

    <p><a id="by-alex-berke" target="_blank" href="http://aberke.com">&copy; Alex Berke 2017</a></p>
    <p>Project began @ <a href="http://pioneerworks.org/residency/alex-berke/" target="_blank">Pioneer Works</a> and continued with &#9825;</p>

</footer>
