<div ng-controller="friezePageCntl">

    <nav id='frieze-nav'>
        <h1>Frieze Groups</h1>
        <ul>
            <li ng-repeat="(groupName, groupData) in friezeGroupsData" ng-click="$parent.selectGroup(groupName)">
                <span ng-class="{active:$parent.selectedGroupName==groupName}" class="clickable">{{groupName}}</span>
            </li>
        </ul>
    </nav>

    <div ng-repeat="(groupName, groupData) in friezeGroupsData" class="frieze-pattern-container">
        <div ng-if="selectedGroupName===groupName">

            <div class='title' ng-click="showGroupDetails()">
                <h1>{{ groupName }}</h1>
                <span ng-show="showGroupDescription">: {{ groupData.description }}</span>
            </div>

            <div class='frieze-pattern'
                pattern-function=slantedSlices
                group-name='{{groupName}}'
                fundamental-domain-width=100
                fundamental-domain-height=80
                margin=25
                show-symmetry-sets={{showSymmetrySets}}
                pattern-function-options='{"levels": 3, "pathsPerLevel": 2, "allowCurved": true}'
            ></div>

            <div class='frieze-pattern'
                pattern-function=slantedSlices
                group-name='{{groupName}}'
                fundamental-domain-width=100
                fundamental-domain-height=80
                margin=25
                show-symmetry-sets={{showSymmetrySets}}
                pattern-function-options='{"levels": 2, "pathsPerLevel": 2, "allowCurved": true}'
            ></div>
            <div class='frieze-pattern'
                pattern-function=slantedSlices
                group-name='{{groupName}}'
                fundamental-domain-width=100
                fundamental-domain-height=80
                margin=25
                show-symmetry-sets={{showSymmetrySets}}
                pattern-function-options='{"levels": 2, "pathsPerLevel": 2, "allowCurved": false}'
            ></div>

            <div class='frieze-pattern'
                pattern-function=slantedSlices
                group-name='{{groupName}}'
                fundamental-domain-width=100
                fundamental-domain-height=80
                margin=25
                show-symmetry-sets={{showSymmetrySets}}
                pattern-function-options='{"levels": 3, "pathsPerLevel": 1, "allowCurved": true}'
            ></div>
            <div class='frieze-pattern'
                pattern-function=slantedSlices
                group-name='{{groupName}}'
                fundamental-domain-width=100
                fundamental-domain-height=80
                margin=25
                show-symmetry-sets={{showSymmetrySets}}
                pattern-function-options='{"levels": 3, "pathsPerLevel": 1, "allowCurved": false}'
            ></div>
            
            <div class='frieze-pattern'
                pattern-function=slantedSlices
                group-name='{{groupName}}'
                fundamental-domain-width=100
                fundamental-domain-height=80
                margin=25
                show-symmetry-sets={{showSymmetrySets}}
                pattern-function-options='{"levels": 1, "pathsPerLevel": 2, "allowCurved": true}'
            ></div>
            
            <div class='frieze-pattern'
                pattern-function='trianglesPath2'
                group-name='{{groupName}}'
                fundamental-domain-width=100
                fundamental-domain-height=80
                margin=25
                show-symmetry-sets={{showSymmetrySets}}
            ></div>
            
            <div class='frieze-pattern'
                pattern-function='petalsEllipseWithDiamondPath'
                group-name='{{groupName}}'
                fundamental-domain-width=100
                fundamental-domain-height=80
                margin=25
                show-symmetry-sets={{showSymmetrySets}}
            ></div>

            <div class='frieze-pattern'
                pattern-function=slantedSlices
                group-name='{{groupName}}'
                fundamental-domain-width=100
                fundamental-domain-height=80
                margin=25
                show-symmetry-sets={{showSymmetrySets}}
                pattern-function-options='{"levels": 1, "pathsPerLevel": 2, "allowCurved": false}'
            ></div>

            <div class='frieze-pattern'
                pattern-function=slantedSlices
                group-name='{{groupName}}'
                fundamental-domain-width=100
                fundamental-domain-height=80
                margin=25
                show-symmetry-sets={{showSymmetrySets}}
                pattern-function-options='{"levels": 1, "pathsPerLevel": 1, "allowCurved": true}'
            ></div>

            <div class='frieze-pattern'
                pattern-function='trianglePath'
                group-name='{{groupName}}'
                fundamental-domain-width=100
                fundamental-domain-height=80
                margin=25
                show-symmetry-sets={{showSymmetrySets}}
            ></div>

        </div>
    </div>
    <br/>
</div>
