<div id="frieze-page" class="frieze pattern-page" ng-controller="FriezePageCntl as friezePage">

    <nav class='app-only action-nav'>
        <h1>Frieze Patterns</h1>
        <ul>
            <li ng-repeat="(groupName, groupData) in friezePage.friezeGroupsData" ng-click="friezePage.selectGroup(groupName)">
                <span ng-class="{active:friezePage.selectedGroupName==groupName}" class="clickable">{{groupName}}</span>
            </li>
        </ul>
    </nav>

    <!-- Creates a pattern container for each group -->
    <!-- Allows toggling whether to show symmetry sets via a classname -->
    <div ng-repeat="(groupName, groupData) in friezePage.friezeGroupsData"
        class="frieze-pattern-container"
        ng-class="{'show-symmetry-sets': friezePage.showSymmetrySets}">
        <div ng-if="friezePage.selectedGroupName===groupName">
            
            <div class='title-container' ng-click="friezePage.showGroupDetails()">
                <h1 class='frieze-pattern-title'>{{ groupName }}</h1>
                <ul ng-class="{show: friezePage.showGroupDescription}" class='pattern-generators-list'>
                    <li ng-class="generator.class" ng-repeat="generator in groupData.generators">{{generator.text}}</li>
                </ul>
            </div>

            <frieze-pattern
                pattern-function='trianglePath'
                group-name='{{groupName}}'
                fundamental-domain-width=80
                fundamental-domain-height=80
            ></frieze-pattern>

            <frieze-pattern
                pattern-function=slantedSlices
                group-name='{{groupName}}'
                fundamental-domain-width=80
                fundamental-domain-height=80
                pattern-function-options='{"levels": 1, "pathsPerLevel": 1, "allowCurved": true}'
            ></frieze-pattern>

            <frieze-pattern
                pattern-function=slantedSlices
                group-name='{{groupName}}'
                fundamental-domain-width=80
                fundamental-domain-height=80
                pattern-function-options='{"levels": 1, "pathsPerLevel": 2, "allowCurved": false}'
            ></frieze-pattern>

            <frieze-pattern
                pattern-function=slantedSlices
                group-name='{{groupName}}'
                fundamental-domain-width=80
                fundamental-domain-height=80
                pattern-function-options='{"levels": 3, "pathsPerLevel": 2, "allowCurved": true}'
            ></frieze-pattern>
            
            <frieze-pattern
                pattern-function='petalsEllipseWithDiamondPath'
                group-name='{{groupName}}'
                fundamental-domain-width=80
                fundamental-domain-height=80
            ></frieze-pattern>
            
            <frieze-pattern
                pattern-function='trianglesPath2'
                group-name='{{groupName}}'
                fundamental-domain-width=80
                fundamental-domain-height=80
            ></frieze-pattern>
            
            <frieze-pattern
                pattern-function=slantedSlices
                group-name='{{groupName}}'
                fundamental-domain-width=80
                fundamental-domain-height=80
                pattern-function-options='{"levels": 1, "pathsPerLevel": 2, "allowCurved": true}'
            ></frieze-pattern>

            <frieze-pattern
                pattern-function=slantedSlices
                group-name='{{groupName}}'
                fundamental-domain-width=80
                fundamental-domain-height=80
                pattern-function-options='{"levels": 3, "pathsPerLevel": 1, "allowCurved": false}'
            ></frieze-pattern>

            <frieze-pattern
                pattern-function=slantedSlices
                group-name='{{groupName}}'
                fundamental-domain-width=80
                fundamental-domain-height=80
                pattern-function-options='{"levels": 2, "pathsPerLevel": 2, "allowCurved": true}'
            ></frieze-pattern>
            <frieze-pattern
                pattern-function=slantedSlices
                group-name='{{groupName}}'
                fundamental-domain-width=80
                fundamental-domain-height=80
                pattern-function-options='{"levels": 2, "pathsPerLevel": 2, "allowCurved": false}'
            ></frieze-pattern>

            <frieze-pattern
                pattern-function=slantedSlices
                group-name='{{groupName}}'
                fundamental-domain-width=80
                fundamental-domain-height=80
                pattern-function-options='{"levels": 3, "pathsPerLevel": 1, "allowCurved": true}'
            ></frieze-pattern>

        </div>
    </div>
    <br/>
</div>
