.frieze-pattern{
	display: block;
}

#frieze-page, #frieze-page h1, #frieze-page h2{
	font-weight: 300;
	color: black;
}

#frieze-nav {
	margin: 25px 50px;
}
#frieze-nav h1, 
#frieze-nav ul {
	border: none;
	padding: 0;
}

#frieze-nav h1 {
	display: block;
	padding-left: 15px;
	text-align: center;
	text-transform: uppercase;
}
#frieze-nav ul {
	display: block;
	text-align: center;
}
#frieze-nav li {
	display: inline;
	padding: 10px;
	font-size: 1.2em;
}

.frieze-pattern-container .frieze-pattern-title {
	display: inline-block;
	width: 100px;
	cursor: pointer;
}
.print-only .frieze-pattern-title {
	border: none;
}
.frieze .title-container {
	min-height: 140px;
}
.title-container ul {
	max-width: 45%;
	display: inline-block;
	vertical-align: middle;
	margin-top: 0;
}
.title-container h1 {
	vertical-align: text-bottom;
}

.print .title-container h1 {
	border: none;
}
@media print {
	.title-container h1 {
		border: none;
	}
}

.frieze-pattern-container .canvas {
	display: block;
}
