
#frieze-nav {
	padding: 1em;
}
#frieze-nav h1 {
	color: gray;
}
#frieze-nav h1, header #frieze-nav ul, header #frieze-nav li {
	display: inline;
	margin-right: 10px;
	border: none;
}

#frieze-nav li {
	font-size: 1.2em;
}

.frieze-pattern-container .title h1{
	display: inline-block;
	width: 100px;
	color: gray;
}

.frieze-pattern-container .canvas {
	display: block;
}
