/**
Colors:
	EXTRA_LIGHT_GRAY: #f1f1f1;
	LIGHT_GRAY: #d3d3d3;
	PURPLE: #670067;
	AQUA: #3bcca6;
		rgb(59,204,166)
	YELLOW: #ffe100;

**/

body {
	font-family: 'Raleway', sans-serif;

	padding: 0;
	margin: 0;
}

/* ==============
Writing 
*/
h1, h2, h3 {
	page-break-inside: avoid;
	page-break-after: avoid;
}
h1 {
	font-size: 2.2em;
	padding: 20px;
	margin: 1px auto;
	max-width: 800px;
}

p {
	text-align: left;
	line-height: 1.3;
	font-weight: 300;
}
/* Writing */



/* ==================
Structure
*/
.page {
	padding: 10px;
	margin: auto;
	display: block;
}

/*
Settings for wallpaper on book-cover:
The top wallpaper has always 1 row.
The other wallpapers have only 1 row on web version,
2 rows on print version
*/
#book-cover .wallpaper-pattern {
	height: 65px;
}
.print #book-cover .wallpaper-pattern {
	height: 130px;
}
.print #book-cover #book-cover-top-wallpaper.wallpaper-pattern {
	height: 65px;
}

#book-cover p {
	padding: 20px;
	max-width: 500px;
	text-align: center;
	margin: auto;
	line-height: 1.4;
}
#book-cover .content-container {
	vertical-align: middle;
}

#table-of-contents {
    padding-bottom: 20px;
}

#table-of-contents .book-section-title {
    margin-bottom: 20px;
    padding: 15px 0;
    max-width: 90%;
    min-width: 45%;
}

#table-of-contents #table-of-contents-before-sections,
#table-of-contents #table-of-contents-main-sections,
#table-of-contents #table-of-contents-after-sections {
	max-width: 500px;
	margin: auto;
}
#table-of-contents #table-of-contents-before-sections {
	padding-bottom: 20px;
	border-bottom: 1px dashed black;
}
#table-of-contents #table-of-contents-after-sections {
	max-width: 500px;
	margin: auto;
	padding-top: 20px;
	border-top: 1px dashed black;
}
#table-of-contents #table-of-contents-main-sections {
	padding: 10px 0;
}
#table-of-contents #table-of-contents-before-sections .table-of-contents-section,
#table-of-contents #table-of-contents-after-sections .table-of-contents-section {
	margin: 15px;	
}
#table-of-contents #table-of-contents-before-sections .table-of-contents-section,
#table-of-contents #table-of-contents-after-sections .table-of-contents-section,
#table-of-contents .table-of-contents-section a,
#table-of-contents .table-of-contents-subsection a,
#table-of-contents .table-of-contents-description {
	color: black;
	font-weight: 300;
}
#table-of-contents .table-of-contents-section-description {
	max-width: 90%;
	margin: 10px auto;
	font-style: italic;
}

#table-of-contents .table-of-contents-subsection .canvas {
    width: 30px;
    height: 30px;
    display: inline-block;
}
#table-of-contents .table-of-contents-subsection a {
	line-height: 30px;
	vertical-align: top;
}

#table-of-contents h3 {
    font-size: 1.7em;
    margin: 0;
    margin-top: 25px;
    text-transform: uppercase;
}
#table-of-contents p {
	text-align: center;
}

#book-cover .canvas {
	width: 120px;
	height: 120px;
}
.clickable {
	color: #d3d3d3;
	text-decoration: underline;
	cursor: pointer;
}
.clickable.active, .clickable:hover {
	color: #670067;
}

.text-content, .coloring-content {
	display: inline-block;
	padding: 1%;
	vertical-align: middle;
}
.text-content {
	padding-left: 2%;
	padding-right: 0.5%;
	max-width: 600px;
	width: 40%;
	min-height: 200px;
	vertical-align: middle;
}
.book-page .text-content .content-container-wrapper {
	text-align: left;
}
.book-page .coloring-content {
	width: 54%;
	border-left: 1px solid gray;
}

.poster-page .coloring-content {
	width: 97%;
	border: none;
	text-align: center;
	margin: auto;
}
.poster-page .third {
	/*things get mushed together otherwise*/
	width: 28%;
	margin: 2%;
}

/*
Style differently for printing on paper -- similar to mobile
Note: So far this seems to work best with Firefox -- Preview as PDF
*/

.page-print-break-before {
	page-break-before: always;
}
.page-print-break-after {
	page-break-after: always;
}
.print-only {
	display: none;
}

/* Styles meant for printing -- applied when param ?print present */
.print .print-only {
	display: block;
}
.print .app-only {
	display: none;
}
.print nav {
	display: none;
}
.print footer {
	display: none;
}

#get-updates-form-container {
	text-align: center;
	width: 90%;
	margin: 20px auto;
	padding-top: 30px;
}
#get-updates-form-container iframe, #get-updates-form-container p {
	width: 90%;
	max-width: 550px;
	margin: auto;
	text-align: center;
	padding-top: 20px;
}
#get-updates-form-container iframe {
	min-height: 1100px;
}

#go-online-partial {
	margin: 25px auto;
}
#go-online-partial p {
	font-size: smaller;
	text-align: center;
}

.book-page .coming-soon {
	font-style: italic;
	text-align: center;
	margin-top: 70px;
}


footer {
	border-top: 10px solid #670067;
	color: #670067;
	padding: 30px;
	margin-top: 60px;
}
footer p {
	text-align: center;
	margin: 10px auto;
}
a {
	color: #670067;
	display: inline-block;
}
footer #footer-title {
	font-size: large;
	font-weight: 600;
	text-align: center;
}

/* Frieze section + Wallpaper section */

.frieze-pattern-name,
.wallpaper-pattern-name {
	font-weight: 600;
	text-decoration: underline;
	text-align: left;
	margin: 5px 0px;
	font-size: 1.7em;
}
.frieze-pattern-description {
	font-weight: 600;
	margin: 5px 0 50px 0;
	text-align: left;
	padding-left: 0;  /* otherwise it is shifted over from frieze-pattern-name on mobile and print */
}


/* Structure */


/* ===== Pieces ===========*/

.canvas {
	display: block;
}

/* Bold math terms are for things like sets: {1/4 turn} etc */
.bold-math {
	font-weight: 700;
	display: inline-block;
}
.bold-math.big {
	font-size: x-large;
}
.math-block {
	display: inline-block;
}

/*challenges are small and italic and sit on the bottom of the page*/
.challenge {
	font-style: italic;
	font-size: small;
	vertical-align: bottom;
}

.theory-reference-term {
	color: black;
	text-decoration: underline;
}

.half {
	display: inline-block;
	width: 45%;
}
.third {
	display: inline-block;
	width: 32%;
	height: 0;
	padding-bottom: 32%;
}
.sixth {
	display: inline-block;
	width: 15%;
	height: 0;
	padding-bottom: 16%;
}
.two-thirds {
	display: inline-block;
	width: 66%;
}
.center-block {
	display: block;
	margin: auto;
}
.aqua {
	color: #3bcca6;
}
.purple {
	color: #670067;
}

.text-content-graphic {
	display: block;
	margin: auto;
}
.text-content-graphic p,
.print .text-content-graphic p.mobile-block {
	font-family: sans-serif;
	font-weight: 700;
	text-align: center;
	display: inline-block;
	margin: 0;
}
/*take up the entire vertical space with the text*/
.text-content-graphic p.text.big {
	font-size: x-large;
	line-height: 2;
}

/*
The mobile-small class makes a canvas the normal size for larger views
But shrinks the canvas for smaller, mobile views
UNLESS in .print mode
*/
.canvas.mobile-small,
.text-content-graphic .canvas,
.print .canvas.mobile-small,
.print .text-content-graphic .canvas.mobile-small {
	width: 70px;
	height: 70px;
	display: inline-block;
	vertical-align: middle;
}
.text-content-graphic .canvas {
	stroke-width: 2;
	text-align: center;
	stroke-linejoin: bevel;
}
/*
Leave space at the top for the wider line.
Otherwise it looks sliced off when the outline of the illustration
in the canvas is too close to the canvas edge.
*/
.text-content-graphic .canvas.inscribe svg {
	padding: 1px;
}
.text-content-graphic .canvas .mirror-line {
	stroke: slategray;
	stroke-width: 1;
}
.text-content-graphic .canvas .inscribed {
	stroke: #d3d3d3;
	stroke-width: 1;
}
.text-content-graphic .canvas.black,
.text-content-graphic .canvas.black .inscribed,
.text-content-graphic .canvas.black .mirror-line {
	stroke: black !important;
}
.text-content-graphic .vertical-line {
	width: 1px;
	height: 70px;
	display: inline-block;
	vertical-align: middle;
	border-right: 1px solid #f1f1f1;
}

.coloring-content .mirror-line {
	stroke: black;
}

.canvas.small,
.text-content-graphic .canvas.small {
	width: 50px;
	height: 50px;
}
.text-content-graphic .vertical-line.small {
	height: 50px;
}

.canvas.extra-small,
.text-content-graphic .canvas.extra-small {
	width: 40px;
	height: 40px;
}
.text-content-graphic .vertical-line.extra-small {
	height: 40px;
}

.fake-canvas {
	vertical-align: top;
}

/*
Drawing rotation points with CSS:
They go inside a .rotation-point elt
with pseudo::after elements added accordingly.
They are gray when in the text-content-graphic to match the mirror lines.
*/

.rotation-point {
	position: relative;
}
.rotation-point.bottom-left::before {
	position: absolute;
	bottom: -5px;
	left: -5px;	
}
.rotation-point.bottom-right::after {
	position: absolute;
	bottom: -5px;
	right: -5px;	
}
/*
Place a SVG as the content of the rotation point
It is by default black.
It is gray to match the mirror-lines if this is in a .text-content-graphic
*/
.rotation-point.order-2.bottom-left::before,
.rotation-point.order-2.bottom-right::after {
	/*Places a BLACK ♦ at the corner filled with black */
	content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' stroke='black' fill='black' fill-opacity='1' stroke-width='1' height='10' width='10'><path d='M0 5 L5 0 L10 5 L5 10 Z' /></svg>");
}
.text-content-graphic .rotation-point.order-2.bottom-left::before,
.text-content-graphic .rotation-point.order-2.bottom-right::after {
	/*Places a GRAY ♦ at the corner filled with black */
	content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' stroke='slategray' fill='slategray' fill-opacity='1' stroke-width='1' height='10' width='10'><path d='M0 5 L5 0 L10 5 L5 10 Z' /></svg>");
}
.rotation-point.order-4.bottom-right::after {
	/* place a BLACK square at the bottom right corner */
	content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' stroke='black' fill='black' fill-opacity='1' stroke-width='1' height='10' width='10'><path d='M0 0 L10 0 L10 10 L0 10 Z' /></svg>");
}
.text-content-graphic .rotation-point.order-4.bottom-right::after {
	/* place a GRAY square at the bottom right corner */
	content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' stroke='slategray' fill='slategray' fill-opacity='1' stroke-width='1' height='10' width='10'><path d='M0 0 L10 0 L10 10 L0 10 Z' /></svg>");
}

figure {
	margin: 5px 0;
}
figcaption {
	padding-top: 4px;
}
.text-content-graphic figcaption {
	text-align: center;
}

.text-content-graphic figure {
    display: inline-block;
    padding: 0;
    margin: 0 10px;
}
.text-content-graphic figure.larger img {
    height: 130px;
}
figcaption,
.design-caption,
.print .design-caption {
    font-size: 12px;
    font-style: italic;
}
body.print .design-caption {
    font-size: 13px;
	text-align: center;
}
.design-caption {
	text-align: center;
}

.share-btn {
	display: inline-block;
	vertical-align: bottom;
}

/* Pieces */

.mobile-only,
.text-content-graphic .canvas.mobile-only {
	display: none;
}
.desktop-only {
	display: block;
}
.text-content-graphic .canvas.desktop-only {
	display: inline-block;
}

@media (max-width: 875px) {

	.mobile-only {
		display: block;
	}
	.book-page .text-content .content-container-wrapper {
		text-align: center;
	}
	.text-content-graphic,
	figure {
		text-align: center;
	}
	
	.text-content-graphic .canvas.mobile-only {
		display: inline-block;
	}

	.desktop-only,
	.text-content-graphic .canvas.desktop-only {
		display: none;
	}

	p {
		text-align: center;
		padding-left: 5px;
		padding-right: 5px;
	}
	p.mobile-small {
		font-size: small;
	}
	.text-content-graphic p {
		padding: 0;
	}

	.mobile-block,
	.text-content-graphic p.mobile-block {
		display: block;
	}

	.canvas.mobile-small,
	.text-content-graphic .canvas.mobile-small {
		width: 50px;
		height: 50px;
	}

    .text-content-graphic figure img {
        height: 65px;
        width: auto;
    }

    .text-content-graphic figure.larger img {
        height: 95px;
        margin-bottom: 4px;
    }

    h1#book-title {
    	padding: 20px 0;
    }

	/* ==================
	Structure
	*/

	/*allow vertical space between text-content and coloring-content on mobile*/
	.book-page .text-content {
		margin-bottom: 50px;
		text-align: center;
	}
	.book-page .text-content, .book-page .coloring-content {
		padding: 0 1.5%;
		width: 97%; /* allow the padding */
		border: none;
	}

	#table-of-contents h3 {
	    display: block;
	}

	/* Structure */

}
