/**
Colors:
	EXTRA_LIGHT_GRAY: #f1f1f1;
	LIGHT_GRAY: #d3d3d3;
	PURPLE: #670067;
	AQUA: #3bcca6;
		rgb(59,204,166)
	YELLOW: #ffe100;

**/

body {
	font-family: 'Raleway', sans-serif;

	padding: 0;
	margin: 0;
}

/* ==============
Writing 
*/
h1, h2, h3 {
	text-align: center;
}
h1 {
	font-size: 2.2em;
	padding: 20px;
	margin: 1px auto;
	max-width: 800px;

	border-top: 4px solid #3bcca6;
	border-bottom: 4px solid #3bcca6;
}
#book-title-container {
	max-width: 800px;
	margin: 50px auto;
	/*make space for the menu*/
	margin-top: 80px;
}
/*remove the space for the menu*/
.print #book-title-container {
	margin-top: 50px;
}
#book-title-container h1 {
	font-weight: 400;
	color: purple;
	border-color: purple;
	border-width: 3px;
	border-style: solid;
	border-left: none;
	border-right: none;
}

h1#book-title {
	font-size: 3em;
}
h1#book-title .title-piece {
	display: block;
}
h1#book-title .title-piece.smaller {
	font-size: 0.70em;
	font-weight: 300;
	display: inline-block;
	margin-top: 10px;
	padding: 5px;
	border-top: 2px solid purple;
} 

.book-section-title, .book-section-subtitle {
	display: inline-block;
	margin: 40px auto;
	padding: 15px 30px;
	min-width: 50%;
	font-weight: 400;
	font-size: 2em;
	border-bottom: 7px double #670067;
	text-transform: uppercase;
}

p {
	text-align: left;
	line-height: 1.3;
	font-weight: 300;
}
/* Writing */



/* ==================
Structure
*/
.page {
	padding: 10px;
	margin: auto;
	display: block;
}

#book-cover p {
	padding: 20px;
	max-width: 500px;
	text-align: center;
	margin: auto;
	line-height: 1.4;
}
#book-cover .content-container {
	vertical-align: middle;
}

#table-of-contents .book-section-title {
    font-size: 2.2em;
    border-bottom: 7px double #670067;
    font-weight: 400;
    text-transform: uppercase;
}

.table-of-contents-shapes-and-symmetries-title .canvas {
    width: 50px;
    height: 50px;
}
.table-of-contents-shapes-and-symmetries-subtitle .canvas {
    width: 30px;
    height: 30px;
}

#table-of-contents {
    padding-top: 30px;
    padding-bottom: 40px;
}

#table-of-contents h3 {
    font-size: 1.7em;
    margin: 0.5em 0em;
    margin-top: 7px;
    text-transform: uppercase;
}

#table-of-contents h3,
#table-of-contents h4 {
    display: inline-block;
    vertical-align: top;
    font-weight: 300;
}
#table-of-contents h3 a,
#table-of-contents h4 a {
    text-decoration: none;
    color: black;
}
#table-of-contents .title-container .canvas,
#table-of-contents .subtitle-container .canvas {
    display: inline-block;
    vertical-align: middle;
    max-width: 150px;
}

#table-of-contents .subtitle-container h4 {
    margin-top: 7px;
}

#table-of-contents .title-container {
    text-align: center;
    margin-top: 30px;
}

#book-cover .canvas {
	width: 120px;
	height: 120px;
}
.clickable {
	color: #d3d3d3;
	text-decoration: underline;
	cursor: pointer;
}
.clickable.active, .clickable:hover {
	color: #670067;
}

.text-content, .coloring-content {
	display: inline-block;
	padding: 1%;
	vertical-align: middle;
}
.text-content {
	max-width: 600px;
	width: 40%;
	min-height: 200px;
	vertical-align: middle;
}
.book-page .coloring-content {
	width: 54%;
	border-left: 1px solid gray;
}

.poster-page .coloring-content {
	width: 97%;
	border: none;
	text-align: center;
	margin: auto;
}
.poster-page .third {
	/*things get mushed together otherwise*/
	width: 28%;
	margin: 2%;
}

/*
Style differently for printing on paper -- similar to mobile
Note: So far this seems to work best with Firefox -- Preview as PDF
*/

.page-print-break-after {
	page-break-after: always;
}
.print-only {
	display: none;
}

/* Styles meant for printing -- applied when param ?print present */
.print .print-only {
	display: block;
}
.print .app-only {
	display: none;
}
.print nav {
	display: none;
}
.print #get-updates-form-container {
	display: none;
}
.print footer {
	display: none;
}


#get-updates-form-container {
	text-align: center;
	width: 90%;
	margin: 20px auto;
	padding-top: 30px;
}
#get-updates-form-container iframe, #get-updates-form-container p {
	width: 90%;
	max-width: 550px;
	margin: auto;
	text-align: center;
	padding-top: 20px;
}
#get-updates-form-container iframe {
	min-height: 1100px;
}

#go-online-partial {
	margin: 25px auto;
}
#go-online-partial p {
	font-size: smaller;
	text-align: center;
}

.coming-soon, #book-page-last.book-page .coming-soon {
	font-style: italic;
	text-align: center;
	margin-top: 70px;
}


footer {
	border-top: 10px solid #670067;
	color: #670067;
	padding: 30px;
	margin-top: 60px;
}
footer p {
	text-align: center;
	margin: 10px auto;
}
a {
	color: #670067;
	display: inline-block;
}
footer #footer-title {
	font-size: large;
	font-weight: 600;
	text-align: center;
}

/* Frieze section */

.frieze-pattern-name {
	font-weight: 600;
	text-decoration: underline;
	text-align: left;
	margin: 5px 0px;
	font-size: 1.7em;
}
.frieze-pattern-description {
	font-weight: 600;
	margin: 5px 0 50px 0;
	text-align: left;
}


/* Structure */


/* ===== Pieces ===========*/

/* Bold math terms are for things like sets: {1/4 turn} etc */
.bold-math {
	font-weight: 700;
	display: inline-block;
}
.math-block {
	display: inline-block;
}

/*challenges are small and italic and sit on the bottom of the page*/
.challenge {
	font-style: italic;
	font-size: small;
	vertical-align: bottom;
}

.theory-reference-term {
	color: black;
	text-decoration: underline;
}

.half {
	display: inline-block;
	width: 45%;
}
.third {
	display: inline-block;
	width: 32%;
	height: 0;
	padding-bottom: 32%;
}
.sixth {
	display: inline-block;
	width: 15%;
	height: 0;
	padding-bottom: 16%;
}
.two-thirds {
	display: inline-block;
	width: 66%;
}
.center-block {
	display: block;
	margin: auto;
}
.aqua {
	color: #3bcca6;
}
.purple {
	color: #670067;
}

.text-content-graphic {
	display: block;
	margin: auto;
	text-align: center;
}
.text-content-graphic p {
	font-family: sans-serif;
	font-weight: 700;
	text-align: center;
	display: inline-block;
	margin: 0;
}
/*take up the entire vertical space with the text*/
.text-content-graphic p.text.big {
	font-size: x-large;
	line-height: 2;
}

/* The mobile-small class makes a canvas the normal size for larger views
But shrinks the canvas for smaller, mobile views */
.canvas.mobile-small,
.text-content-graphic .canvas {
	width: 70px;
	height: 70px;
	display: inline-block;
	vertical-align: middle;
}
.text-content-graphic .canvas .mirror-line {
	stroke: slategray;
	stroke-width: 1;
}
.text-content-graphic .canvas .inscribed {
	stroke: #d3d3d3;
	stroke-width: 1;
}
.text-content-graphic .canvas.black,
.text-content-graphic .canvas.black .inscribed,
.text-content-graphic .canvas.black .mirror-line {
	stroke: black !important;
}
.text-content-graphic .vertical-line {
	width: 1px;
	height: 70px;
	display: inline-block;
	vertical-align: middle;
	border-right: 1px solid #f1f1f1;
}

.canvas.small,
.text-content-graphic .canvas.small {
	width: 50px;
	height: 50px;
}
.text-content-graphic .vertical-line.small {
	height: 50px;
}

.canvas.extra-small,
.text-content-graphic .canvas.extra-small {
	width: 40px;
	height: 40px;
}
.text-content-graphic .vertical-line.extra-small {
	height: 40px;
}

.fake-canvas {
	vertical-align: top;
}

.text-content-graphic figure {
    display: inline-block;
    padding: 0;
    margin: 0 10px;
}
figcaption {
    font-size: 12px;
    font-style: italic;
}

/* Pieces */

.mobile-only,
.text-content-graphic .canvas.mobile-only {
	display: none;
}
.desktop-only {
	display: block;
}
.text-content-graphic .canvas.desktop-only {
	display: inline-block;
}

@media (max-width: 875px) {

	.mobile-only {
		display: block;
	}
	.text-content-graphic .canvas.mobile-only {
		display: inline-block;
	}

	.desktop-only,
	.text-content-graphic .canvas.desktop-only {
		display: none;
	}

	p {
		text-align: center;
	}

	.mobile-block,
	.text-content-graphic p.mobile-block {
		display: block;
	}

	.canvas.mobile-small,
	.text-content-graphic .canvas.mobile-small {
		width: 50px;
		height: 50px;
	}

    .text-content-graphic figure img {
        height: 65px;
        width: auto;
    }

	/* ==================
	Structure
	*/

	/*allow vertical space between text-content and coloring-content on mobile*/
	.book-page .text-content {
		margin-bottom: 50px;
	}
	.book-page .text-content, .book-page .coloring-content {
		padding: 0 1.5%;
		width: 97%; /* allow the padding */
		border: none;
	}

	#table-of-contents h3 {
	    display: block;
	}

	/* Structure */

}
