/****************************************
Wallpaper and Frieze Page specific
*****************************************/


#wallpaper-page,
#wallpaper-page h1,
#wallpaper-page h2,
#wallpaper-page h3,
#frieze-page,
#frieze-page h1,
#frieze-page h2,
#frieze-page h3 {
	font-weight: 300;
	color: black;
}

#wallpaper-nav,
#frieze-nav {
	margin: 25px 50px;
}
#wallpaper-nav h1, 
#wallpaper-nav ul,
#frieze-nav h1, 
#frieze-nav ul {
	border: none;
	padding: 0;
}

#wallpaper-nav h1,
#frieze-nav h1 {
	display: block;
	padding-left: 15px;
	text-align: center;
	text-transform: uppercase;
}
#wallpaper-nav ul,
#frieze-nav ul {
	display: block;
	text-align: center;
}
#wallpaper-nav li,
#frieze-nav li {
	display: inline-block;
	padding: 5px 10px;
	font-size: 1.2em;
}

.wallpaper-pattern-container .wallpaper-pattern-title,
.frieze-pattern-container .frieze-pattern-title {
	display: inline-block;
	width: 100px;
	cursor: pointer;
}
#wallpaper-page .print-only .wallpaper-pattern-title,
#frieze-page .print-only .frieze-pattern-title {
	border: none;
}
#wallpaper-page.wallpaper .title-container h1,
#frieze-page.frieze .title-container h1 {
	text-align: left;
}

#wallpaper-page .print .title-container h1,
#frieze-page .print .title-container h1 {
	border: none;
}
@media print {
	#wallpaper-page .title-container h1,
	#frieze-page .title-container h1 {
		border: none;
	}
}

#frieze-page ul.pattern-generators-list {
    list-style-type: none;
    list-style: none;
    width: 100%;
    display: block;
    padding:0;
    margin:0;
    margin-left: 20px;
    margin-bottom: 30px;

    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    overflow: hidden;
    max-height: 0;
}
#frieze-page ul.pattern-generators-list.show {
  max-height: 300px;
}

#frieze-page ul.pattern-generators-list li { 
    padding-left: 1em; 
    text-indent: -.7em;
}

#frieze-page ul.pattern-generators-list li:before {
    content: "- ";
}

#wallpaper-page simple-drawing {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 10px;
}
#wallpaper-page simple-drawing.clickable {
	opacity: 0.6;
}
#wallpaper-page simple-drawing.clickable:hover {
	opacity: 0.9;
}
#wallpaper-page simple-drawing.clickable.active {
	opacity: 1;
}

/*
Pattern styling (vs just pattern page styling)
*/

#wallpaper-page .wallpaper-pattern {
	height: 850px;
}

.wallpaper-pattern,
.frieze-pattern {
	display: block;
}

/* Style the symmetries of the frieze patterns 

There are different types of symmetries, each with their own class name,
but all symmetry elements share the 'symmetry' class.
By default they are not shown, but can be toggled to display.
*/
.frieze-pattern path.symmetry {
	opacity: 0;
}
.show-symmetry-sets .frieze-pattern path.symmetry,
.frieze-pattern:hover path.symmetry {
	opacity: 0.6;
}

.frieze-pattern path.horizontal-mirror,
.frieze-pattern path.vertical-mirror {
	stroke: #007f70;
	stroke-width: 2;
}
.frieze-pattern path.glide-reflection {
	stroke-width: 2;
	stroke: purple;
	stroke-dasharray: 5;
}
.frieze-pattern path.rotation {
	stroke-width: 4;
	stroke: #e65c00;
}
