/*
Styles for book

*/

.book-page {
	text-align: center;
	width: 100%;
}



/*Printing:*/
/*Intended to be printed on 8.5x11*/
@page {
    size: 8.5in 11in;
    margin: 0.5in;
}

body.print p {
    text-align: left;
}

.book-page .text-content, .book-page .coloring-content,
#book-cover, #table-of-contents
{
    page-break-after: always;
}
#table-of-contents {
    /*create blank page: print it on the right side, side left page blank*/
    page-break-before: right;
}

.print .book-page .text-content,
.print .book-page .coloring-content,
.print #book-cover,
.print #road-map, 
.print #table-of-contents {
    padding: 0 1.5%;
    width: 97%; /* allow the padding - works best with firefox printing */
    border: none;
    
    width: 8in;
    height: 10in;

    position: relative;
}

.print #book-cover,
.print #table-of-contents,
.print #road-map {
    margin: auto;
}
.print #book-cover,
.print #table-of-contents {
    padding: 0;
}

.print .book-page .text-content .content-container-wrapper,
.print #book-cover .content-container-wrapper,
.print #road-map .content-container-wrapper,
.print #table-of-contents .content-container-wrapper,
.print .book-page .coloring-content .content-container-wrapper
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#book-title-container {
    max-width: 800px;
    margin: 15px auto;
    /*make space for the menu*/
    margin-top: 70px;
}
/*remove the space for the menu*/
.print #book-title-container {
    margin-top: 0;
    margin-bottom: 40px;
}
#book-title-container h1 {
    font-weight: 400;
    color: purple;
    border-color: purple;
    border-width: 3px;
    border-style: solid;
    border-left: none;
    border-right: none;
}

h1#book-title {
    font-size: 3em;
    width: 75%;
}
/*mobile*/
@media (max-width: 875px) {
    h1#book-title {
        width: 100%;
    }
}

h1#book-title .title-piece {
    display: block;
}
h1#book-title .title-piece.smaller {
    font-size: 0.70em;
    font-weight: 300;
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    border-top: 2px solid purple;
} 

.book-section-title, .book-section-subtitle {
    display: inline-block;
    margin: 40px auto;
    padding: 15px 30px;
    min-width: 50%;
    font-weight: 400;
    font-size: 2em;
    border-bottom: 7px double #670067;
    text-transform: uppercase;
}

/*
move from one book-page to the next with animation:
*/
.page-switch-container {
    width: 100%;
}
.page-switch-container > * {
    display:block;
    width:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.animate-next-page .book-page.ng-animate,
.animate-previous-page .book-page.ng-animate {
    width: 100%;

    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}
.animate-next-page .book-page.ng-leave,
.animate-next-page .book-page.ng-enter.ng-enter-active {
    position: relative;
    width: 100%;
    top: 0;
}
.animate-next-page .book-page.ng-leave.ng-leave-active {
    width: 100%;
    position: absolute;
    top: -1200px;
}
.animate-next-page .book-page.ng-enter {
    width: 100%;
    position: absolute;
    top: 1200px;
}

.animate-previous-page .book-page.ng-leave,
.animate-previous-page .book-page.ng-enter.ng-enter-active {
    position: relative;
    width: 100%;
    top: 0;
}
.animate-previous-page .book-page.ng-leave.ng-leave-active {
    width: 100%;
    position: absolute;
    top: 1200px;
}
.animate-previous-page .book-page.ng-enter {
    width: 100%;
    position: absolute;
    top: -1200px;
}

.page-change-btn {
    cursor: pointer;
    display: block;
    text-align: center;
    color: rgb(59,204,166);
    padding: 15px;
    margin: 15px auto;
    max-width: 60%;
}
.page-change-btn.page-previous-btn {
    margin-top: 12px;
}
.page-change-btn.page-next-btn {
    margin-bottom: 35px;
}
