/*
Styles for the book content.
The Book is to be published/printed on 7" x 9" trim size.
The book pages use this as their size.
*/

.book-page {
	text-align: center;
    /*7x9" trim size with margins (as padding)*/
    /*note there is extra padding within content-container*/
    max-width: 5.68in;
    max-height: 8.34in;
    /* 
    margins (via padding): 2 picas, 4 picas;
    Director of design had recommended 4 picas
    */
    padding: 0.33in 0.66in;
    margin: auto;
    font-size: 9pt;
    /* Director of design recommended at least 2pts more leading than font-size */
    line-height: 12pt;
}

.debug .book-page,
.print .book-page {
    width: 6in;
    height: 8.6in;
}

.debug .book-page,
.debug .book-page:last-of-type,
.print.debug .book-page,
.debug #theory-reference-page .book-page {
    border: 1px solid gray;
}

/* divide the pages on web view */
.book-page {
    border-bottom: 1px dashed gray;
}
.book-page:last-of-type {
    border: none;
}

.print .book-page {
    border: none;
}

/*
"Mobile view" is any time  the page is smaller than the trim size
*/
@media (max-width: 6.9in) {
    .book-page {
        max-height: fit-content;
        font-size: 11pt;
        line-height: 15pt;
    }
    /* DEBUG */ 
    .debug .book-page {
        border: 1px solid blue;

    }
}


/* Printing: */
/*
Intended to be printed on 7 x 9 -- could also then be on standard 8.5x11
Default left, right, top, bottom margin is set
*/
@page {
    size: 7in 9in;
    margin: 0;
    font-size: 10pt;
}


/*
Create page numbers when in print mode that start at 1 on the
first page where there is text-content
*/
body.print {
    counter-reset: page;
}

.print .book-page .page-heading {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 7pt;
    /*it must take up space*/
    height: 0.1in;
}
.print .book-page .challenges .page-heading {
    margin-bottom: 0.4in;
}

.print .book-page .page-heading .heading-title{
    float: left;
}
.print .counted .book-page {
    counter-increment: page;
}
.print .book-page .page-number::after {
    content: counter(page);
    float: right;
    font-size: 7pt;
}

.print .book-page .text-content.challenges {
    height: 1.3in;
}

.book-page .text-content.challenges p,
.print .book-page .text-content.challenges p {
    margin: 3px auto;
    text-align: center;
}
.book-page .text-content.challenges p {
    /* for non-print only: */
    margin-bottom: 0.3in;
}

.book-page p {
    font-weight: 300;
}

.book-page p strong {
    font-weight: 500;
}

/* Heading and page number only show for print mode */
.page-heading,
.page-number {
    font-size: 9pt;
}
.print .page-heading {
    display: block;
}
.page-heading {
    display: none;
}
.book-page.full-bleed .page-heading {
    display: none;
}


.print .book-page {
    page-break-inside: avoid;
    page-break-after: always;
    position: relative;
}

.print .book-page .text-content .content-container,
.print #book-cover .content-container,
.print #road-map .content-container,
.print #table-of-contents .content-container
{
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.book-page .text-content .content-container,
.print .book-page .text-content .content-container {
    text-align: left;
    padding: 25px 0;
}

.book-page .coloring-content {
    margin: 15px auto;
}

.debug .book-page .coloring-content,
.print .book-page .coloring-content {
    min-height: 6.5in;
    margin: unset;
}

.book-page-container.patterns .book-page .coloring-content {
    margin: 0 -0.3in;
}



/*remove the space for the menu*/
.print #book-title-container {
    margin-top: 0;
    margin-bottom: 40px;
}

.print #end-page-content {
    padding-top: 250px;
}

.print .book-page .coloring-content .wallpaper-pattern svg,
.print .book-page .coloring-content .frieze-pattern svg {
    /*
    allow patterns to continue to full left/right edges of page
    but not continue below because they will collide with captinons
    */
    overflow: visible !important;
}

.book-page.full-bleed .wallpaper-pattern,
.book-page .wallpaper-pattern.full-bleed {
    position: relative;
    left: -0.66in;
    width: 7in;
    overflow: visible !important;
}

.book-page.full-bleed .wallpaper-pattern {
    top: -0.33in;
}

.book-page.full-bleed .wallpaper-pattern svg,
.book-page .wallpaper-pattern.full-bleed svg,
.wallpaper-pattern.overflow-visible svg {
    overflow: visible !important;
}
.book-page {
    overflow: hidden;
}
.print .book-page.full-bleed {
    overflow-x: visible !important;
}

.full-bleed .text-content.challenges .design-caption {
    margin-bottom: 0.6in;
}


.book-page .coloring-content .wallpaper-pattern {
    height: 100%;
}

.wallpaper-pattern-name {
    font-weight: 300;
    font-size: 2em;
}

#book-title-container {
    max-width: 800px;
    margin: 15px auto;
    /*make space for the menu*/
    margin-top: 65px;
}
#book-title-container path {
    stroke-width: 1px;
}

#book-title-container h1 {
    font-weight: 400;
    color: purple;
    border-color: purple;
    border-width: 3px;
    border-style: solid;
    border-left: none;
    border-right: none;
}

h1#book-title {
    font-size: 3em;
    width: 75%;
    text-align: center;
}
/*mobile*/
@media (max-width: 6.9in) {

    .animate-next-page .book-page.ng-leave.ng-leave-active {
        top: -1600px;
    }
    .animate-next-page .book-page.ng-enter {
        top: 1600px;
    }
    .animate-previous-page .book-page.ng-leave.ng-leave-active {
        top: 1600px;
    }
    .animate-previous-page .book-page.ng-enter {
        top: -1600px;
    }
}

h1#book-title .title-piece {
    display: block;
    line-height: 1em;
}
h1#book-title .title-piece.smaller {
    font-size: 0.70em;
    font-weight: 300;
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    border-top: 2px solid purple;
} 

.book-page .book-part-title,
.book-page .book-section-title {
    padding-left: 0;
    text-align: left;
}

.book-page .book-section-title,
.book-page .book-part-title {
    text-transform: uppercase;
    border-bottom: none;
    font-weight: 400;
}
.book-page .book-part-title {
    text-decoration: underline;
    font-size: 2em;
    margin-top: 0;
}
.book-section-title {
    text-decoration: none;
    font-size: 1.3em;
}


/*
move from one book-page to the next with animation:
*/
.page-switch-container {
    width: 100%;
}
.page-switch-container > * {
    display:block;
    width:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.animate-next-page .book-page-container.ng-animate,
.animate-previous-page .book-page-container.ng-animate {
    width: 100%;

    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}
.animate-next-page .book-page-container.ng-leave,
.animate-next-page .book-page-container.ng-enter.ng-enter-active {
    position: relative;
    width: 100%;
    top: 0;
}
.animate-next-page .book-page-container.ng-leave.ng-leave-active {
    width: 100%;
    position: absolute;
    top: -1600px;
}
.animate-next-page .book-page-container.ng-enter {
    width: 100%;
    position: absolute;
    top: 1600px;
}

.animate-previous-page .book-page-container.ng-leave,
.animate-previous-page .book-page-container.ng-enter.ng-enter-active {
    position: relative;
    width: 100%;
    top: 0;
}
.animate-previous-page .book-page-container.ng-leave.ng-leave-active {
    width: 100%;
    position: absolute;
    top: 1600px;
}
.animate-previous-page .book-page-container.ng-enter {
    width: 100%;
    position: absolute;
    top: -1600px;
}

.page-change-btn {
    cursor: pointer;
    display: block;
    text-align: center;
    color: rgb(59,204,166);
    padding: 15px;
    margin: auto;
    max-width: 60%;
}
.page-change-btn.page-previous-btn {
    margin-top: 12px;
}
.page-change-btn.page-next-btn {
    margin-bottom: 35px;
}

#after-info {
    max-height: unset;
}


/*
Notes on notation pages
*/
#notes-on-notation-pages .book-page .book-part-title {
    text-decoration: none;
}
#notes-on-notation-pages h3 {
    font-weight: 300;
    font-size: 1.5em;
}
#notes-on-notation-pages h4 {
    font-weight: 400;
    font-size: 1.2em;
    text-decoration: underline;
    text-transform: capitalize;
}
