/*
Styles for the book content.
The Book is to be published/printed on 7" x 9" trim size.
The book pages use this as their size.
*/

.book-page {
	text-align: center;
	max-width: 7in;
    max-height: 9in;
    font-size: 10pt;
    margin: auto;
}
.debug .book-page,
.debug .book-page:last-of-type,
.print.debug .book-page {
    border: 1px solid gray;
}
.book-page.print {
    width: 7in;
    height: 9in;
}

/* divide the pages on web view */
.book-page {
    padding-bottom: 20px;
    border-bottom: 1px dashed gray;
}
.book-page:last-of-type {
    border: none;
}

.print .book-page {
    border: none;
    padding-bottom: unset;
}

/*
"Mobile view" is any time  the page is smaller than the trim size
*/
@media (max-width: 6.9in) {
    .book-page {
        max-height: fit-content;
    }
    /* DEBUG */ 
    .debug .book-page {
        border: 1px solid blue;

    }
}


/* Printing: */
/*
Intended to be printed on 7 x 9 -- could also then be on standard 8.5x11
Default left, right, top, bottom margin is set
*/
@page {
    size: 7in 9in;
    margin: 0;
    font-size: 10pt;
}

body.print p {
    page-break-inside: avoid;
    font-size: 10pt;
}
body.print figure,
body.print .text-content-graphic {
    text-align: left;
}


/*
Create page numbers when in print mode that start at 1 on the
first page where there is text-content
*/
body.print {
    counter-reset: page;
}

.print .book-page .page-heading {
    /*width: 100%;*/
    font-weight: 300;
    text-transform: uppercase;
    font-size: 8pt;
    margin-bottom: 5px;
}
.print .book-page .page-heading .heading-title{
    float: left;
}

.print .book-page .page-number::after {
    counter-increment: page;
    content: counter(page);
    float: right;
}

.print .book-page .text-content.challenges {
    height: unset;
    min-height: unset;
}

.book-page .text-content.challenges p {
    text-align: center;
}

/* Heading and page number only show for print mode */
.page-heading,
.page-number {
    font-size: 9pt;
}
.print .page-heading {
    display: block;
}
.page-heading {
    display: none;
}



/*
Each page has its height and width set to match the @page definition.
Most .book-pages are two pages with .text-content and .coloring-content.
The other ones must be explicitly told to take up the entire page size.

The padding/spacing for the coloring-content is slightly different:
In order to fit a multiple of 4 fundamental domains for
frieze/wallpaper patterns using:
    pattern fundamental-domain-width = 48
    coloring-content width: 770 (~ 47 x 16)
THIS IS IMPORTANT: So that shapes do not get cuttoff and 
patterns with order-4 rotations can be better seen.
Note: frickin firefox blows up the width so I am using smaller width
for many wallpaper patterns;
*/

/* consolidated version only: */
.print .book-page {
    page-break-inside: avoid;
}

/* For consolidated version, page break after each page */
.print .book-page,
.print #book-cover,
.print #road-map, 
.print #before-info,
.print #table-of-contents,
.print #after-info {
    page-break-after: always;
    position: relative;
}
.print .book-page .text-content,
.print #book-cover,
.print #road-map, 
.print #before-info,
.print #table-of-contents,
.print #after-info {
    padding: 0 1.5%;
    width: 97%; /* allow the padding - works best with firefox printing */
}

.print #book-cover,
.print #road-map,
.print #table-of-contents {       
    width: 8in; 
    height: 10in;
    page-break-inside: avoid;
}

.print #book-cover,
.print #table-of-contents,
.print #road-map,
.print #before-info,
.print #after-info {
    margin: auto;
}
.print #book-cover,
.print #table-of-contents {
    padding: 0;
}

.print .book-page .text-content .content-container,
.print #book-cover .content-container,
.print #road-map .content-container,
.print #table-of-contents .content-container,
.print .book-page .coloring-content .content-container
{
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.book-page .text-content .content-container,
.print .book-page .text-content .content-container {
    text-align: left;
    padding: 25px 0;
}

/*remove the space for the menu*/
.print #book-title-container {
    margin-top: 0;
    margin-bottom: 40px;
}

.print #end-page-content {
    padding-top: 250px;
}

.print .book-page .coloring-content .wallpaper-pattern {
    height: 910px;
}
.print .book-page .coloring-content .wallpaper-pattern svg,
.print .book-page .coloring-content .frieze-pattern svg {
    /*
    allow patterns to continue to full left/right edges of page
    but not continue below because they will collide with captinons
    */
    overflow: visible !important;
}

/* Printing */



.book-page .coloring-content .wallpaper-pattern {
    height: 100%;
}

#book-title-container {
    max-width: 800px;
    margin: 15px auto;
    /*make space for the menu*/
    margin-top: 65px;
}
#book-title-container path {
    stroke-width: 1px;
}

#book-title-container h1 {
    font-weight: 400;
    color: purple;
    border-color: purple;
    border-width: 3px;
    border-style: solid;
    border-left: none;
    border-right: none;
}

h1#book-title {
    font-size: 3em;
    width: 75%;
    text-align: center;
}
/*mobile*/
@media (max-width: 875px) {

    .animate-next-page .book-page.ng-leave.ng-leave-active {
        top: -1600px;
    }
    .animate-next-page .book-page.ng-enter {
        top: 1600px;
    }
    .animate-previous-page .book-page.ng-leave.ng-leave-active {
        top: 1600px;
    }
    .animate-previous-page .book-page.ng-enter {
        top: -1600px;
    }
}

h1#book-title .title-piece {
    display: block;
}
h1#book-title .title-piece.smaller {
    font-size: 0.70em;
    font-weight: 300;
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    border-top: 2px solid purple;
} 

.book-page .book-part-title,
.book-page .book-section-title {
    padding-left: 0;
    text-align: left;
}

.book-page .book-section-title,
.book-page .book-part-title {
    text-transform: uppercase;
    border-bottom: none;
}
.book-page .book-part-title {
    text-decoration: underline;
    font-size: 2em;
    font-weight: 400;
    margin: 30px 0;
}
.book-section-title {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 400;
}


/*
move from one book-page to the next with animation:
*/
.page-switch-container {
    width: 100%;
}
.page-switch-container > * {
    display:block;
    width:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.animate-next-page .book-page-container.ng-animate,
.animate-previous-page .book-page-container.ng-animate {
    width: 100%;

    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}
.animate-next-page .book-page-container.ng-leave,
.animate-next-page .book-page-container.ng-enter.ng-enter-active {
    position: relative;
    width: 100%;
    top: 0;
}
.animate-next-page .book-page-container.ng-leave.ng-leave-active {
    width: 100%;
    position: absolute;
    top: -1600px;
}
.animate-next-page .book-page-container.ng-enter {
    width: 100%;
    position: absolute;
    top: 1600px;
}

.animate-previous-page .book-page-container.ng-leave,
.animate-previous-page .book-page-container.ng-enter.ng-enter-active {
    position: relative;
    width: 100%;
    top: 0;
}
.animate-previous-page .book-page-container.ng-leave.ng-leave-active {
    width: 100%;
    position: absolute;
    top: 1600px;
}
.animate-previous-page .book-page-container.ng-enter {
    width: 100%;
    position: absolute;
    top: -1600px;
}

.page-change-btn {
    cursor: pointer;
    display: block;
    text-align: center;
    color: rgb(59,204,166);
    padding: 15px;
    margin: auto;
    max-width: 60%;
}
.page-change-btn.page-previous-btn {
    margin-top: 12px;
}
.page-change-btn.page-next-btn {
    margin-bottom: 35px;
}
