.info-view {
	padding: 25px 20px;
	display: block;
	page-break-inside: avoid;
	max-width: 800px;
	margin: 30px auto;
}
/* Make sure the first info-view section falls below the menu */
#info #about {
	padding-top: 55px;
}

.info-view, .info-view p {
	padding: 10px;
	text-align: center;
}
.info-view p {
	max-width: 600px;
	margin: auto;
}
.info-view p strong {
	font-weight: 500;
}

.print .info-view {
	max-width: 700px;
	text-align: left;
}
.print .info-view p {
	text-align: left;
}
.print .info-view h2,
.info-view h2,
.print .info-view h3,
.info-view h3,
.print .info-view h4,
.info-view h4,
.print .info-view h5,
.info-view h5 {
	text-align: center;
}


.print #who-this-book-is-for p,
.print #what-this-book-is-and-is-about p,
.print #how-to-use-this-book p,
.print #why-a-coloring-book p {
    padding: 10px;
    padding-top: 0;
}
.info-view h2 {
	font-weight: 400;
}

.info-view h3 {
	padding: 5px;
	min-width: 30%;
	max-width: 90%;
	text-transform: uppercase;
	border-bottom: 4px double purple;
	font-weight: 400;
	display: inline-block;
}
.print .info-view h3 {
	font-size: 1em;
}
.print .info-view h2 {
	font-size: 1.5em;
	padding: 5px;
}

.info-view .book-section-title {
	margin: 30px auto;
}

/* Info > Video */
.info-view#videos {
	min-height: 225px;
}
.info-view .info-video-container video {
	width: 390px;
}
.info-view .info-video-container p {
	margin: 0;
	padding: 5px;
	max-width: none;
}
.info-video-container:first-child {
	float: left;
}
.info-video-container:nth-child(2) {
	float: right;
}
/*videos are stacked when viewport is small*/
@media (max-width: 810px) {
	.info-view .info-video-container {
		float: none;
		padding: 0;
		margin-left: 0;
		margin-right: 0;
		display: inline-block;
		text-align: center;
	}
	.info-video-container:first-child {
		padding-bottom: 10px;
	}
}
@media (max-width: 400px) {
	.info-view .info-video-container video {
		width: 300px;
	}
}
/* Info > Video */

.info-view#why-a-coloring-book h3 {
	padding: 0;
	margin: 0;
	margin-top: 15px;
	text-transform: none;
	font-weight: 500px;
	border: none;
}
.info-view#why-a-coloring-book p {
	padding-top: 8px;
}

.info-view#about-the-author-and-project {
	max-width: 600px;
}
.info-view#about-the-author-and-project img {
	max-width: 350px;
}


/* Info > Events */
.info-view#events .book-section-title {
	font-size: 1.5em;
}
.info-view .event {
	margin: auto;
	margin-bottom: 25px;
	padding-bottom: 20px;
	border-bottom: 1px dashed gray;
}
.info-view .event-title {
    margin: 10px;
    font-size: larger;
    font-weight: 400;
    text-transform: uppercase;
}
.info-view .event-title a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.info-view .event-subtitle {
	padding: 0;
	font-style: italic;
}
.info-view .event-description {}
.info-view .event-link {
	display: block;
}
.info-view .event-imgs-container img {
	height: 180px;
	padding: 2px;
}
.info-view .event-imgs-container img.big {
	width: 450px;
	height: auto;
}

@media (max-width: 875px) {
	.info-view .event-imgs-container img.big {
		width: 95%;
	}
}

/* Info > Events */
