.info-view, .info-view p {
	max-width: 800px;
	margin: auto;
	text-align: center !important;
	padding: 20px;
}
.info-view {
	padding: 55px 20px;
}
.info-view .book-section-title {
	margin: 30px auto;
}
.info-view p {
	max-width: 600px;
}
.info-view p strong {
	font-weight: 600;
}

/* Info > Video */
.info-view#videos {
	min-height: 225px;
}
.info-view .info-video-container p {
	margin: 0;
	padding: 5px;
	max-width: none;
}
.info-video-container:first-child {
	float: left;
}
.info-video-container:nth-child(2) {
	float: right;
}
/*videos are stacked when viewport is small*/
@media (max-width: 810px) {
	.info-view .info-video-container {
		float: none;
	}
	.info-video-container:first-child {
		padding-bottom: 10px;
	}
}
/* Info > Video */


.info-view#about-the-artist-and-project img {
	max-width: 350px;
}


/* Info > Events */
.info-view#events .book-section-title {
	font-size: 1.5em;
}
.info-view .event {
	margin: 20px auto;
	margin-bottom: 50px;
}
.info-view .event-title {
    margin: 10px;
    font-size: larger;
    font-weight: 500;
    text-transform: uppercase;
}
.info-view .event-title a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.info-view .event-subtitle {
	padding: 0;
	font-style: italic;
}
.info-view .event-description {}
.info-view .event-link {
	display: block;
}
.info-view .event-imgs-container img {
	height: 180px;
	padding: 2px;
}
.info-view .event-imgs-container img.big {
	width: 450px;
	height: auto;
}

@media (max-width: 875px) {
	.info-view .event-imgs-container img.big {
		width: 95%;
	}
}

/* Info > Events */
