<div id="wallpaper-page" ng-controller="WallpaperPageCntl as wallpaperPage">

    <nav id="wallpaper-nav" class="app-only">
        <h1>Wallpaper Groups</h1>
        <ul>
            <li ng-repeat="groupName in wallpaperPage.wallpaperGroupNames" ng-click="wallpaperPage.selectGroup(groupName)">
                <span ng-class="{active:wallpaperPage.selectedGroupName==groupName}" class="clickable">{{groupName}}</span>
            </li>
        </ul>
    </nav>

    <div ng-repeat="groupName in wallpaperPage.wallpaperGroupNames" ng-click="wallpaperPage.selectGroup(groupName)" class="wallpaper-pattern-container">
        <div ng-if="wallpaperPage.selectedGroupName===groupName">
            
            <div class='title-container' ng-click="wallpaperPage.showGroupDetails()">
                <h1 class='wallpaper-pattern-title'>{{ groupName }}</h1>
                <ul ng-show="wallpaperPage.showGroupDescription". class='pattern-generators-list'>
                    <li ng-repeat="generator in groupData.generators">{{generator}}</li>
                </ul>
            </div>

            <wallpaper-pattern
                style="max-height: 400px;"
                pattern-function='trianglesPath2'
                group-name='{{ groupName }}'
                fundamental-domain-width=80
                fundamental-domain-height=70
            ></wallpaper-pattern>

        </div>
    </div>
    <br/>
</div>
