<div class="pattern-page" id="wallpaper-page" ng-controller="WallpaperPageCntl as wallpaperPage">
    
    <div class="app-only action-nav">
        
        <h1 class="app-only">Wallpaper</h1>
        
        <div class="action-icons-container">
            <a class="question-icon icon" ng-class="{active: wallpaperPage.showDescriptions}" href="" ng-click="wallpaperPage.toggleShowDescriptions()">
                <img class="icon-img" src="/assets/icons/question-mark-in-circle.svg" width="22px" height="22px" />
                <span class="icon-text">Explain</span>
            </a>
            <a class="print-icon icon" ng-href="/wallpaper?print&drawPathFunction={{wallpaperPage.selectedDrawPathFunction.name}}&group={{wallpaperPage.selectedGroupName}}" target="_blank">
                <img class="icon-img" src="/assets/icons/open-new-tab.svg" width="22px" height="22px" />
                <span class="icon-text">Print</span>
            </a>
        </div>
    </div>

    <div ng-class="{active: wallpaperPage.showDescriptions}" class="description-container">
        <p>{{wallpaperPage.wallpaperDescription}}</p>
        <p class="challenge">Choose an illustration and a symmetry group to generate a new pattern.</p>
        <a target="_blank" href="/symmetries" class="app-only">Symmetries Guide</a>
    </div>
    
    <nav id="wallpaper-nav" class="app-only">
        <div class="groups">
            <h3>Symmetry Groups</h3>
            <ul>
                <li ng-repeat="group in wallpaperPage.wallpaperGroups" ng-click="wallpaperPage.selectGroup(group.names.orbifold)">
                    <span ng-class="{active: (wallpaperPage.selectedGroupName==group.names.orbifold || wallpaperPage.selectedGroupName==group.names.IUC)}" class="clickable">{{group.names.orbifold}}</span>
                </li>
            </ul>
        </div>

        <div class="illustrations">
            <h3>Illustrations</h3>
            <ul>
                <li ng-repeat="drawPathFunction in wallpaperPage.drawPathFunctions" ng-click="wallpaperPage.selectDrawPathFunction(drawPathFunction.name)">
                    <simple-drawing
                        ng-class="{active:wallpaperPage.selectedDrawPathFunction.name==drawPathFunction.name}"
                        class="clickable"
                        draw-function='{{ drawPathFunction.name }}'
                    ></simple-drawing>
                </li>
            </ul>
        </div>
    </nav>

    <div ng-repeat="group in wallpaperPage.wallpaperGroups" class="wallpaper-pattern-container">
        <div ng-if="(wallpaperPage.selectedGroupName==group.names.orbifold || wallpaperPage.selectedGroupName==group.names.IUC)">
            
            <div class='title-container' ng-click="wallpaperPage.toggleShowDescriptions()">
                <h1 class='wallpaper-pattern-title'>{{ group.name }}</h1>
                <span class="toggle-group-description-button app-only">
                    <span ng-show="!wallpaperPage.showDescriptions"><span class="text">show</span> &#8744;</span>
                    <span style="font-weight: bold;" ng-show="wallpaperPage.showDescriptions">X</span>
                </span>
                
                <div ng-class="{active: wallpaperPage.showDescriptions}" class="group-description-container">
                    <p>{{group.description}}</p>
                    <p class="challenge">Can you find the symmetries?</p>
                </div>

            </div>

            <p ng-show="main.debug" class="debug-redraw-button" ng-click="redraw()">redraw</p>
            <wallpaper-pattern
                ng-class='{debug: wallpaperPage.showDescriptions}'
                pattern-function='{{ wallpaperPage.selectedDrawPathFunction.name }}'
                draw-options='{"contain": true}'
                group-name='{{ wallpaperPage.selectedGroupName }}'
                fundamental-domain-width=70
                fundamental-domain-height=70
                redraw-fn="redraw"
            ></wallpaper-pattern>

        </div>
    </div>
    <br/>

    <section class="footer app-only">
        <p>
            <a class="print-icon icon" ng-href="/wallpaper?print&drawPathFunction={{wallpaperPage.selectedDrawPathFunction.name}}&group={{wallpaperPage.selectedGroupName}}" target="_blank">
                <img class="icon-img" src="/assets/icons/open-new-tab.svg" width="25px" height="25px" />
                <span class="icon-text">print</span>
            </a>
        </p>
        <a class="symmetries-guide" target="_blank" href="/symmetries" class="app-only">Symmetries Guide</a>

        <p>This page is part of a mathematical coloring book about symmetry <span style="display: inline-block;">(and wallpaper patterns).</span></p>
        <p>
            <a target="_blank" href="/">read the book</a> | <a target="_blank" href="/info#about">about the book</a>
        </p>

    </section>
</div>
