<div id="about-the-author-and-project" class="info-view">
    <h2 class="book-section-title">About the Author &amp; Project</h2>

    <p>Alex Berke received degrees in mathematics and computer science from Brown University.  After graduating college, she lived in New York City working as a technologist, with a focus on social impact.  Most recently she worked as a software engineer at Google on the Search team's news credibility effort to fight disinformation, before entering graduate <span style="white-space: nowrap;">school at MIT.</span></p>

    <img src="/assets/img/personal-headshot.JPG" />

    <p>She has benefited from her education in computer science, but only found computer science in college by pursuing her passion for mathematical thinking.  She was only aware of this passion due to all the time she spent as a kid staring at mathematical designs and playing with logic puzzles, and then having a few adults around to suggest that the concepts she loved in these images and games were what math was all about.  She feels lucky she had those resources and adults around her.</p>
    
    <p>This project was produced to provide a resource for others to discover the beauty of mathematics.  It intends to show that the best parts of math are not about numbers, and make those parts more accessible.</p>
</div>
