<div id="share">
    <h2 class="book-section-title">Share</h2>

    <p>Follow on instagram: <a href="https://www.instagram.com/colorByMath/" target="_blank">@colorByMath</a></p>

    <p>Share what you've colored on Facebook: <a href="https://www.facebook.com/colorByMath/" target="_blank">facebook.com/colorByMath</a>. <br/>Or post to Instagram and Twitter with the #colorByMath hashtag.</p>

    <div id="share-buttons-container">
        <div tweet class="twitter-share-button share-btn"></div>
        
        <div class="fb-share-button share-btn" data-href="http://www.coloring-book.co/" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.coloring-book.co%2F&amp;src=sdkpreparse"><img src="/assets/img/icons/fb-share-icon.png" alt="share to facebook" height="20px" /></a></div>
    </div>
</div>

<div id="contact">
    <h2 class="book-section-title">Contact</h2>

    <p>
        If you are an <strong>educator</strong> I want to hear from you.<br/><br/>
        If you want to collaborate or host an event with this material, please reach out.<br/><br/>
        If you just read/colored/played with the content in this book, I want to know what you think.<br/>
    </p>

    <p>
        Contact me directly at <a href="mailto:colorbymath@gmail.com?subject=Coloring%20Book">colorbymath@gmail.com</a>.
        <br>
        Or submit feedback in this form: <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeHWQDnA1ycEoDlJQXIz48sPoac-q5QlRo2Dyznu5E2ixYeGg/viewform">coloring-book.co/form</a>
    </p> 

</div>
<!-- contact -->

<div id="code">
    <h2 class="book-section-title">Code</h2>

    <p>
        The code for this project is open source and welcomes contributions:<br/>
        <a target="_blank" href="https://github.com/aberke/coloring-book">https://github.com/aberke/coloring-book</a>
    </p>
</div>
<!-- code -->
