<div id="how-to-use-this-book" class="info-view">
    <h3>How To Use This “Book”</h3>

    <p>
    This “book” has two publically available formats.

	<br/>
	<br/>
	On paper: <a href="/book.pdf">http://coloring-book.co/book.pdf</a>
	<br/>
	Online: <a href="http://coloring-book.co">http://coloring-book.co</a>
	</p>

	<p>
	The two formats are designed to complement each other, and many may wish to use them both at once.  The content can be viewed on either, but the different formats provide different ways to more deeply engage or play with it:
	<br/>
	<br/>
	The illustrations can be colored on paper. Only on paper can the coloring challenges be fully completed and realized in color.
	<br/>
	The illustrations come to life on the web version, where the symmetries they illustrate are animated and interactive in order to further deepen the reader’s intuition of their mathematical concepts.
	<br/>
	<br/>

	This book can be used as a playful educational tool to serve as an extra resource in the classroom or home.  For educators, the challenges within the pages of the book can be used as “problem sets”.
	<br/>
	This book can be used as a relaxing coloring book.
	<br/>
	This book can be used to entertain your mathematical intuition or interests.
	</p>
</div>
