<div id="how-to-use-this-book" class="info-view">
    <h3>How To Use This “Book”</h3>

    <p>This book is both on paper and online.</p>

	<p>
	The two formats complement each other, and can be used together.  Their content is the same, but they provide different ways to more deeply engage or play with it.
	<br/>
	<br/>
	Color the illustrations on paper. Only on paper can the coloring challenges be fully completed and realized in color.  Solutions are provided so that you can check your work.
	<br/>
	Play with the illustrations online.  They come to life with interactive animations that show the symmetries that generate them.
	<br/>
	<br/>

	This book can be used as a playful educational tool to serve as an additional resource in the classroom or home.  For educators, the challenges within the pages of the book can be used as “problem sets”.
	<br/>
	This book can be used as a relaxing coloring book.
	<br/>
	This book can be used to entertain your mathematical intuition or interests.
	</p>
</div>
