<div class="info-view" id="publicity-and-press">
    <h2>Publicity &amp; Press</h2>

    <div class="pub">
        <p class="quote">
            “This glorious book works on many levels: as a pure picture book giving an introduction into the world of mathematical beauty, as a visual introduction to the ideas of group theory, as an interactive coloring book, or as a book of patterns to admire. This is deep math without numbers, equations, or answers. It is an invitation to feel math, viscerally, as a starting point or as an end in itself.”
        </p>
        <p class="attribution">
            &mdash;<strong>Eugenia Cheng</strong>, Author of <span style="font-style: italic;">The Art of Logic in an Illogical World</span>
        </p>
    </div>

    <div class="pub">
        <p class="quote">
            “I strongly recommend this book to any artistic math-interested person looking for a new, physical, tangible, hypnotizing way to explore abstract algebra.”
        </p>
        <p class="attribution">
            &mdash;<strong>Review by The Mathematical Association of America</strong>

            <span class="attribution-link">[<a target="_blank" href="https://www.maa.org/press/maa-reviews/beautiful-symmetry-a-coloring-book-about-math">link</a>]</span>
        </p>
    </div> 


    <div class="pub">
        <p class="quote">
            “Have you ever considered the relationship between maths and art?”
        </p>
        <p class="attribution">
            &mdash;<strong>Featured on Australia’s Radio National</strong>
            <span class="attribution-link">[<a target="_blank" href="https://www.abc.net.au/radionational/programs/sundayextra/beautiful-symmetry/12558034">link</a>]</span>
        </p>
    </div> 


    <div class="pub">
        <p class="quote">
            “An engaging introduction to the maths of 'group theory' ” 
        </p>
        <p class="attribution">
            &mdash;<strong>The Guardian</strong>
            <span class="attribution-link">[<a target="_blank" href="https://www.theguardian.com/science/2020/mar/09/can-you-solve-it-are-you-a-master-of-reflection">link</a>]</span>
        </p>
    </div> 


    <div class="pub">
        <p class="quote">
            “Both fun and challenging.”
        </p>
        <p class="attribution">
            &mdash;<strong>European Mathematical Society</strong>
            <span class="attribution-link">[<a target="_blank" href="https://euro-math-soc.eu/review/beautiful-symmetry">link</a>]</span>
        </p>
    </div> 


    <div class="pub">
        <p class="quote">
            “How do you introduce these algebraic constructs to beginners in a fun and engaging manner, whilst simultaneously providing a thoughtful read for the experts? This is exactly what [Beautiful Symmetry] accomplishes”
        </p>
        <p class="attribution">
            &mdash;<strong>The Aperiodical</strong>
            <span class="attribution-link">[<a target="_blank" href="https://aperiodical.com/2020/03/colourful-mathematics-a-review-of-alex-berkes-book-beautiful-symmetries/">link</a>]</span>
        </p>
    </div> 


    <div class="pub">
        <p class="quote">
            “Both a fascinating book and a concept — it’s like no other book I’ve ever read… By offering a more visual and tactile approach, this book shows how math can be for everyone. Combining the playful and the pedagogical, Beautiful Symmetry offers both relaxing entertainment for recreational colorers and a resource for math-curious readers, students, and educators.” 
        </p>
        <p class="attribution">
            &mdash;<strong>The New Books Network podcast</strong>
            <span class="attribution-link">[<a target="_blank" href="https://newbooksnetwork.com/alex-berke-beautiful-symmetry-a-coloring-book-about-math-mit-press-2020/">link</a>]</span>
        </p>
    </div>


    <div class="pub">
        <p class="quote">
            “I really like the way [Beautiful Symmetry] characterizes subgroups by means of breaking symmetry via coloring; I had never really thought about subgroups in this way before... If you like coloring, and/or you’d like to learn a bit about group theory, or read a nice presentation and explanation of all the frieze and wallpaper groups, you should definitely check it out!”
        </p>
        <p class="attribution">
            &mdash;<strong>Math Less Traveled</strong>
            <span class="attribution-link">[<a target="_blank" href="https://mathlesstraveled.com/2020/02/28/book-review-beautiful-symmetry/">link</a>]</span>
        </p>
    </div>  

    <!-- template for publicity and press -->
    <!-- 
    <div class="pub">
        <p class="quote">
        </p>
        <p class="attribution">
            &mdash;<strong></strong>
            <span class="attribution-link">[<a target="_blank" href=""></a>]</span>
        </p>
    </div>  
    -->

</div>
