<div id="what-this-book-is-and-is-about" class="info-view">
    <h3>What This "Book" Is And Is About</h3>

    <p>This is a "coloring book about math" that is both digital and on paper.</p>
    <p>It is a playful book.  The mathematical concepts it presents show themselves in illustrations that are interactive and animated online, and can be colored on paper.  Throughout the book there are visual puzzles and coloring challenges.</p>

	<p>The book is about symmetry.  Group theory is used as the mathematical foundation to discuss its content and interactive visuals are used to help communicate the concepts.</p>

	<p>Group theory and other mathematical studies of symmetry are traditionally covered in college level or higher courses.  This is unfortunate because these exciting parts of mathematics can be introduced with language that is visual, and with words that avoid jargon.  Such an introduction is the intention of this "book".</p>
</div>
