<div id="why-a-coloring-book" class="info-view">
    <h2 class="book-section-title">Why a Coloring Book</h2>

    <h3>To make "higher level math" more approachable and less intimidating.</h3>
    <p>Many people feel comfortable picking up a coloring book and getting to work on it with colored pencils.  Fewer people feel comfortable approaching a book about “higher level” concepts in math, such as group theory.  This need not be the case. There are “higher level” math concepts that do not require background knowledge or expertise and can be presented with illustrations instead of numbers.  This “book” guides readers through mathematical concepts by using the experience of coloring mathematical illustrations.</p>

    <h3>To capture the necessary attention.</h3>
    <p>Mathematical concepts of depth and beauty take time to understand and appreciate - but who is ready to give that time in our modern age of distractions?  Coloring books are an anomaly in society’s sea of short form mediums in that they attract extended amounts of attention from adults who want to relax, and children who want to be amused.  This is the type of attention - dedicated attention to slowly working through one page at a time - that is ideal for absorbing math.</p>

    <h3>To make math more playful for those left out of the fun.</h3>
    <p>Many stereotypical “math whizzes” will tell you they have fun doing math problem sets.  Problem sets are a means to actively engage with concepts learned through challenges; they are a tool for learning, and completing them can be a fun game.
	Problem sets need not be about solving equations!  This book’s “problem sets” are “coloring challenges”: these challenges actively engage readers with the concepts presented by challenging them to color in the illustrations that represent those concepts with a specific goal or set of mathematical requirements.</p>

    <h3>To make math more relaxing for those who find it stressful.</h3>
    <p>Many people find math books stressful.  At the same time, many people resort to coloring books as a  means to relaxation.  This “book” provides a relaxing path to mathematical learning by melding the two mediums.</p>

    <h3>To welcome mathematical thinkers of all kinds.</h3>
    <p>There are many ways to teach, and there are many ways to learn.  Traditional curriculums focus on the manipulation of numbers and arithmetic, and may make some learners feel that math is not for them.  This “coloring book” was developed to provide a different mechanism to engage with math, one that is more visual and tactile. It intends to reach learners who may have previously been alienated or left behind by traditional math pedagogy.</p>
</div>
