
#theory-reference-page {
	text-align: center;
	margin: auto;
}
.print #theory-reference-page {
	page-break-before: always;
	page-break-after: always;
}

#theory-reference-page #theory-reference-intro,
#theory-reference-page #definitions-container {
	max-width: 700px;
	margin: auto;
	padding: 0 10px 30px;
}
#theory-reference-page h2 {
	width: 100%;
	padding: 10px 0;
	/*Avoid colliding with menu*/
	margin-top: 50px;
}
.print #theory-reference-page h2 {
	margin-top: 0;
	page-break-after: avoid;
}

#theory-reference-page #theory-reference-intro {
	border-bottom: 5px solid purple;
	page-break-inside: avoid;
}

#theory-reference-page .theory-reference-term-container {
	page-break-inside: avoid;
}


#theory-reference-page p,
#theory-reference-page a.theory-reference-term-name,
.theory-reference-term-note, #theory-reference-page li {
	max-width: 700px;
	text-align: left;
	margin: auto;
	display: block;
	color: black;
}
.print #theory-reference-page p,
.print #theory-reference-page a.theory-reference-term-name,
.print .theory-reference-term-note, #theory-reference-page li {
	font-size: small;
	line-height: 1.2;
}

#theory-reference-page .text-content-graphic {
	text-align: left;
}
#theory-reference-page .text-content-graphic p {
	display: inline-block;
}
#theory-reference-page .text-content-graphic .canvas.extra-small {
	width: 35px;
	height: 35px;
}

#theory-reference-page ul li {
	margin: 5px auto;
}

#theory-reference-page .theory-reference-term-name,
#theory-reference-page a.theory-reference-term-name {
	font-weight: 600;
	text-decoration: underline;
	margin: 20px auto;
	margin-top: 40px;
	font-size: larger;
	page-break-after: avoid;
}
.print #theory-reference-page .theory-reference-term-name,
.print #theory-reference-page a.theory-reference-term-name {
	margin: 10px auto;
	margin-top: 30px;
	font-size: large;
}
#theory-reference-page .theory-reference-term-definition {
	font-size: large;	
}
#theory-reference-page .math-block {
	font-weight: bold;
}

/*
.theory-reference-term-example: How it relates to one of our example groups 
- Eg, our identity element is the action that leaves the image unchanged - ie, rotating by 360 degrees (maybe have gif here that rotates by 360 degrees, then has long pause)
*/
#theory-reference-page .theory-reference-term-example{
	margin: 15px auto;
}
.print #theory-reference-page .theory-reference-term-example{
	margin: 10px auto;
}

#theory-reference-page .theory-reference-term-note {
	font-style: italic;
	font-size: smaller;
}
