
<style>

    header {
    	text-align: center;
    	margin: 2em;
    	border-bottom: 5px double purple;
    }
    p, h2, h3, ul {
    	text-align: center;
    }
    ul {
    	list-style-type: none;
    }
    body{ 
    	text-align: center;
    }

    .canvas {
        border: 1px dashed lightgray;
        margin: 10px;
        min-height: 100px;
    }
    .canvas.medium {
        height: 100px;
    }
    @media (max-width: 600px) {
    	.half {
    		width: 100%;
    	}
    }

</style>


<div id="pieces">

	<!-- Style Guide -->
	<div id='style-guide'>
		<h1 id='book-title'>Styles</h1>

		<div class='container'>
			<div id='writing'>

				<h1 id='book-title'>h1#book-title</h1>
				<h2 class='book-section-title'>h2.book-section-title</h2>
				<h3 class='book-section-subtitle'>h3.book-section-subtitle</h3>

				<p>p paragraph content with a <a class="theory-reference-term">.theory-reference-term</a></p>

				<p class="challenge">Challenge: This is what a challenge looks like.</p>

				<p class="bold-math">This is what a .bold-math term looks like.  Use it for things like sets: &#123;0 turn, <fraction>1/3</fraction> turn, <fraction>2/3</fraction> turn &#125;</p>

			</div>
			<!-- styles: writing -->


		</div>
	</div>
	<!-- Style Guide -->

	<hr/>


    	<header>
		    <h2>Pieces</h2>
		    <p>Putting together the pieces.  Here are some shapes.</p>
		</header>

		<!-- content -->
		<div>

			<!-- Fractions -->
			<div>
				<h3>Fractions</h3>
				<p>Here's 1/4: <fraction>1/4</fraction> turn</p>

			</div>
			<!-- Fractions -->

			<div>
				<h3>Test directive</h3>
				<div test-directive></div>

				<!-- all attributes will turn into camelCase in directive definition -->				
                <div class='canvas third'
                    canvas-centered-drawing
                    draw-function='drawSierpinskiTriangle'
                    function-options='{"level": 3, "orientation": -1}'>
                </div>
			</div>


			<!-- circular tessellation -->
			<div>
				<h3>Circular Tesselation</h3>
				<p>They rotate on hover.</p>
				<p>Randomly generated.  Can configure for:</p>
				<ul>
					<li>Number of rotations</li>
					<li>Whether has mirror symmetry</li>
					<li>Number of 'levels' in lines</li>
					<li>Number of 'slices' per 'level'</li>
				</ul>
				<div class='half'>
				<div
					class="canvas" 
					with-redraw 
					circular-tessellation
					rings="[0.1, 0.2, 0.5, 1]"
					rotations=3
					slices-count=4
					levels=2
					margin=25
				></div>
				</div>
				<div class='half'>
		            <div
		                class="canvas" 
		                with-redraw 
		                circular-tessellation
						rings="[0.5, 0.9]"
		                rotations=6
		                slices-count=4
		                levels=2
		                with-reflection=true
		                margin=25
	                ></div>
				</div>
			</div>
		    <!-- circular tessellation -->

			<!-- circular flower -->
			<div>
				<h3>Circular Flower</h3>
				<p>They rotate on hover.</p>
				<p>Randomly generated.  Can configure for:</p>
				<ul>
					<li>Number of rotations</li>
					<li>Whether has mirror symmetry</li>
					<li>Number of 'levels' in lines</li>
					<li>Number of 'slices' per 'level'</li>
				</ul>
				<div class='half'>
		            <div
		                class="canvas" 
		                with-redraw 
		                circular-tessellation
		                rotations=4
		                slices-count=3
		                levels=2
		                margin=25
		                as-flower
	                ></div>
				</div>
				<div class='half'>
		            <div
		                class="canvas" 
		                with-redraw 
		                circular-tessellation
		                rotations=6
		                slices-count=3
		                levels=2
		                with-reflection=true
		                margin=25
		                as-flower
	                ></div>
				</div>
			</div>
		    <!-- circular flower -->

		    <!-- n-gons -->
			<div>
				<h2>N Gons</h2>
				<div class='half'>
					<p>5-gon.</p>

				    <div class='canvas third'
	                    canvas-centered-drawing
	                    draw-function='drawRegularPolygon'
	                    function-options='{"N": 5}'
				    	options='{"autoReflect":"H"}'
	                ></div>
			    </div>
				<div class='half'>
					<p>8-gon</p>

				    <div class='canvas third'
	                    canvas-centered-drawing
	                    draw-function='drawRegularPolygon'
	                    function-options='{"N": 8}'
	                    options='{}'
	                ></div>
			    </div>
		    </div>
		    <!-- n-gons -->
		   </div>

		    <!-- star n-gons -->
			<div>
				<h2>Star N Gons</h2>
				<div class='half'>
					<p>3-star</p>
				    <div class='canvas third'
	                    canvas-centered-drawing
	                    draw-function='drawRegularPolygon'
	                    function-options='{"N": 3, "alternateSideStrokes": true, "concave": true}'
	                    options='{"autoRotateDegrees":120,"inscribed":"circle","initialRotation":120}'
	                ></div>
			    </div>
				<div class='half'>
					<p>6-star</p>
				    <div class='canvas third'
	                    canvas-centered-drawing
	                    draw-function='drawRegularPolygon'
	                    function-options='{"N": 6, "alternateSideStrokes": true, "concave": true}'
	                    options='{"autoRotateDegrees":60,"inscribed":"circle","initialRotation":120}'
	                ></div>
			    </div>
		    </div>
		    <!-- star n-gons -->

			<!-- shapes -->
			<div>
				<h2>Shapes</h2>
				<div class='half'>
					<p>C6 Shape</p>

			    	<div class='canvas third'
				    	canvas-centered-drawing 
				    	draw-function='drawCyclicShape'
				    	function-options='{"N": 6}'
				    	options='{"margin": 12, "inscribed":"circle"}'
				    ></div>

			    </div>
				<div class='half'>
					<p>D7</p>

			    	<div class='canvas third'
				    	canvas-centered-drawing 
				    	draw-function='drawDihedralShape'
				    	function-options='{"N": 7, "alternateSideStrokes": true}'
				    	options='{"margin": 12, "inscribed": true}'
				    ></div>
			    </div>
		    </div>
		    <!-- cyclic and dihedral shapes -->

			<!-- More shapes -->
			<div>
				<h2>More shapes</h2>
				<div class='half'>
					<p>Rectangle</p>
					
			    	<div class='canvas third'
				    	canvas-centered-drawing 
				    	draw-function='drawRectangle'
				    	function-options='{"alternateSideStrokes": true}'
				    	options='{"margin": 12, "inscribed": true}'
				    ></div>
			    </div>
				<div class='half'>
					<p>C5 with alternating side strokes</p>

			    	<div class='canvas third'
				    	canvas-centered-drawing 
				    	draw-function='drawCyclicShape'
				    	function-options='{"N": 5, "sideStrokes": [1, 1, 2, 2, 0]}'
				    	options='{"margin": 12, "inscribed": true}'
				    ></div>

			    </div>
		    </div>
		    <!-- More shapes -->

			<!-- Colored shapes -->
			<div>
				<h2>Colored shapes</h2>
				<div class='half'>
					<p>Rectangle with alternating color fills</p>
					
			    	<div class='canvas third'
				    	canvas-centered-drawing 
				    	draw-function='drawRectangle'
				    	function-options='{"coloring": [0, 1]}'
				    ></div>
			    </div>
				<div class='half'>
					<p>C5 with alternating side strokes</p>

			    	<div class='canvas third'
				    	canvas-centered-drawing 
				    	draw-function='drawCyclicShape'
				    	function-options='{"N": 5, "coloring": [1, 2, 3, 4, 5]}'
				    ></div>

			    </div>
		    </div>
		    <!-- Colored shapes -->

			<!-- Mirrors -->
			<div>
				<h2>Shapes with Mirrors</h2>
				<div class='half'>
					<p>use in function options: withMirrorSections=true</p>
					
			    	<div class='canvas third'
				    	canvas-centered-drawing 
				    	draw-function='drawRegularPolygon'
				    	function-options='{"N": 3, "withMirrorSections": true}'
			    	></div>
			    </div>
				<div class='half'>
					<p> Can auto reflect either vertically or horizontally with option autoReflect="H"|"V"</p>
			    	<div class='canvas third'
				    	canvas-centered-drawing 
				    	draw-function='drawRegularPolygon'
				    	function-options='{"N": 5, "concave":true, "withMirrorSections": true, "coloring": [1, 0, 2]}'
				    	options='{"autoReflect":"V"}'
			    	></div>

			    </div>
		    </div>
		    <!-- Mirrors -->

	   </div>

		<!-- frieze -->
		<div>
			<h3>Frieze</h3>

			<div ng-init="selectedGroupName='p1a1'; groupNames=['p1', 'p11m', 'p1m1', 'p1a1', 'p2', 'p2mg', 'p2mm'];">
				<ul>
					<!-- angular creates child scopes for each item in ng-repeat, so neex to update $parent scope -->
					<li class="clickable" ng-class="{active: groupName==selectedGroupName}" ng-repeat="groupName in groupNames" ng-click="$parent.selectedGroupName=groupName">
						{{groupName}}
					</li>
				</ul>
			
				<div ng-repeat="groupName in groupNames" class="frieze-pattern-container">
					<div ng-if="selectedGroupName===groupName">
						<p>Selected Group: {{groupName}}</p>
						<div class='frieze-pattern'
						pattern-function=petalEllipse
						group-name='{{groupName}}'
						fundamental-domain-width=100
						fundamental-domain-height=80
						margin=10
						></div>
					</div>
				</div>
			</div>

		</div>
		<!-- frieze -->
	   	
	</div>
	<!-- Pieces -->
</div>