
<style>

    header {
    	text-align: center;
    	margin: 2em;
    	border-bottom: 5px double purple;
    }
    p, h2, h3, ul {
    	text-align: center;
    }
    ul {
    	list-style-type: none;
    }
    body{ 
    	text-align: center;
    }

    .canvas {
        border: 1px dashed lightgray;
        margin: 10px;
        min-height: 100px;
    }
    .canvas.medium {
        height: 100px;
    }
    @media (max-width: 600px) {
    	.half {
    		width: 100%;
    	}
    }

</style>


<div>
	<!-- Style Guide -->
	<div id='style-guide'>
		<h1 id='book-title'>Styles</h1>

		<div class='container'>
			<div id='writing'>

				<h1 id='book-title'>h1#book-title</h1>
				<h2 class='book-section-title'>h2.book-section-title</h2>
				<h3 class='book-section-subtitle'>h3.book-section-subtitle</h3>

				<p>p paragraph content with a <a class="theory-reference-term">.theory-reference-term</a></p>

				<p class="challenge">Challenge: This is what a challenge looks like.</p>

				<p class="bold-math">This is what a .bold-math term looks like.  Use it for things like sets: &#123;0 turn, <fraction>1/3</fraction> turn, <fraction>2/3</fraction> turn &#125;</p>

			</div>
			<!-- styles: writing -->


		</div>
	</div>
	<!-- Style Guide -->

	<hr/>


    	<header>
		    <h2>Pieces</h2>
		    <p>Putting together the pieces.  Here are some shapes.</p>
		</header>

		<!-- content -->
		<div>

			<!-- Fractions -->
			<div>
				<h3>Fractions</h3>
				<p>Here's 1/4: <fraction>1/4</fraction> turn</p>

			</div>
			<!-- Fractions -->

			<div>
				<h3>Test directive</h3>
				<div test-directive></div>

				<!-- all attributes will turn into camelCase in directive definition -->				
                <div class='canvas third'
                    canvas-centered-drawing
                    draw-function='drawSierpinskiTriangle'
                    function-options='{"level": 3, "orientation": -1}'>
                </div>
			</div>

			<!-- circular tessellation -->
			<div>
				<h3>Circular Tesselation</h3>
				<p>They rotate on hover.</p>
				<p>Randomly generated.  Can configure for:</p>
				<ul>
					<li>Number of rotations</li>
					<li>Whether has mirror symmetry</li>
					<li>Number of 'levels' in lines</li>
					<li>Number of 'slices' per 'level'</li>
				</ul>
				<div class='half'>
				<div
					class="canvas" 
					with-redraw 
					circular-tessellation
					rings="[0.1, 0.2, 0.5, 1]"
					rotations=3
					slices-count=4
					levels=2
					margin=25
				></div>
				</div>
				<div class='half'>
		            <div
		                class="canvas" 
		                with-redraw 
		                circular-tessellation
						rings="[0.5, 0.9]"
		                rotations=6
		                slices-count=4
		                levels=2
		                with-reflection=true
		                margin=25
	                ></div>
				</div>
			</div>
		    <!-- circular tessellation -->


			<!-- circular tessellations with same slices -->
			<div>
				<h3>Circular Tesselations using same slices</h3>
				<div>
			    	<div class='third' id='canvas-circular-tessellation-3a' class='canvas'></div>
			    	<div class='third' id='canvas-circular-tessellation-3b' class='canvas'></div>
			    	<div class='third' id='canvas-circular-tessellation-3c' class='canvas'></div>
			    	<p>These are generated using the same slices.</p>

				    <script>
				    'use strict';

				    // put the variables for circular-tessellation-1 in here
				    var CT3 = {
				    	a:{},
				    	b:{},
				    	c:{},
				    };

				    CT3.a.paper = new Raphael('canvas-circular-tessellation-3a', '100%', 400);
				    CT3.b.paper = new Raphael('canvas-circular-tessellation-3b', '100%', 400);
				    CT3.c.paper = new Raphael('canvas-circular-tessellation-3c', '100%', 400);

				    // get the slices to use
				    // ASSUMPTION: all the canvases have the same size, and therefore the same origin
				    CT3.origin = getCanvasCenter(CT3.a.paper);

				    CT3.diameter = Math.min(CT3.a.paper.getSize().width, CT3.a.paper.getSize().height);
				    CT3.options = {
				    	levels: 2,
				    	withReflection: true,
				    	rotations: 2,
				    };
				    CT3.a.options = JSON.parse(JSON.stringify(CT3.options));
				    CT3.b.options = JSON.parse(JSON.stringify(CT3.options));
				    CT3.c.options = JSON.parse(JSON.stringify(CT3.options));
				    // a and c have 2 roations, b has 4
				    CT3.b.options.rotations = 4;

				    // generate circular tessellation 'a' and use its slices to generate the others
				    CT3.a.circularTessellation = new CircularTessellation(CT3.a.paper, CT3.origin, CT3.diameter, CT3.options);

				    // get the slices pathList from a and add them to the options
				    // so that they can be used to generate the other circular tessellations
				    CT3.slicesPathList = CT3.a.circularTessellation.slicesPathList;
				    CT3.b.options.slicesPathList = CT3.slicesPathList;
				    CT3.c.options.slicesPathList = CT3.slicesPathList;

				    // generate circular tessellation b
				    CT3.b.circularTessellation = new CircularTessellation(CT3.b.paper, CT3.origin, CT3.diameter, CT3.b.options);
				    // generate c
				    CT3.c.circularTessellation = new CircularTessellation(CT3.c.paper, CT3.origin, CT3.diameter, CT3.c.options);

				    </script>
				</div>
				
			</div>
		    <!-- circular tessellations with same slices -->

			<!-- circular flower -->
			<div>
				<h3>Circular Flower</h3>
				<p>They rotate on hover.</p>
				<p>Randomly generated.  Can configure for:</p>
				<ul>
					<li>Number of rotations</li>
					<li>Whether has mirror symmetry</li>
					<li>Number of 'levels' in lines</li>
					<li>Number of 'slices' per 'level'</li>
				</ul>
				<div class='half'>
		            <div
		                class="canvas" 
		                with-redraw 
		                circular-tessellation
		                rotations=4
		                slices-count=3
		                levels=2
		                margin=25
		                as-flower
	                ></div>
				</div>
				<div class='half'>
		            <div
		                class="canvas" 
		                with-redraw 
		                circular-tessellation
		                rotations=6
		                slices-count=3
		                levels=2
		                with-reflection=true
		                margin=25
		                as-flower
	                ></div>
				</div>
			</div>
		    <!-- circular flower -->

		    <!-- n-gons -->
			<div>
				<h2>N Gons</h2>
				<div class='half'>
					<p>5-gon</p>
			    	<div id='canvas-ngon-5' class='canvas third'></div>
			    	<script type="text/javascript-lazy">
			    		'use strict';

					    var NGON5 = {};
				    	NGON5.paper = new Raphael('canvas-ngon-5', '100%', 400);
				    	NGON5.buffer = 10;
						NGON5.paperWidth = NGON5.paper.getSize().width;
						NGON5.paperHeight = NGON5.paper.getSize().height;
					    NGON5.origin = {
					    	X: NGON5.paperWidth/2,
					    	Y: NGON5.paperHeight/2
					   	};
						NGON5.size = Math.min(NGON5.paperWidth, NGON5.paperHeight) - NGON5.buffer;

						NGON5.NGon = new RegularPolygon(NGON5.paper, NGON5.origin, NGON5.size, {N: 5});

			    	</script>
			    </div>
				<div class='half'>
					<p>8-gon</p>
			    	<div id='canvas-ngon-8' class='canvas third'></div>
			    	<script type="text/javascript-lazy">
			    		'use strict';

					    var NGON8 = {};
				    	NGON8.paper = new Raphael('canvas-ngon-8', '100%', 400);
				    	NGON8.buffer = 10;
						NGON8.paperWidth = NGON8.paper.getSize().width;
						NGON8.paperHeight = NGON8.paper.getSize().height;
					    NGON8.origin = {
					    	X: NGON8.paperWidth/2,
					    	Y: NGON8.paperHeight/2
					   	};
						NGON8.size = Math.min(NGON8.paperWidth, NGON8.paperHeight) - NGON8.buffer;

						NGON8.NGon = new RegularPolygon(NGON8.paper, NGON8.origin, NGON8.size, {N: 8});

			    	</script>
			    </div>
		    </div>
		    <!-- n-gons -->
		   </div>

		    <!-- star n-gons -->
			<div>
				<h2>Star N Gons</h2>
				<div class='half'>
					<p>3-star</p>
				    <div class='canvas third'
	                    canvas-centered-drawing
	                    draw-function='drawRegularPolygon'
	                    function-options='{"N": 3, "alternateSideStrokes": true, "concave": true}'
	                    options='{"autoRotateDegrees":120,"inscribed":"circle","initialRotation":120}'
	                ></div>
			    </div>
				<div class='half'>
					<p>6-star</p>
				    <div class='canvas third'
	                    canvas-centered-drawing
	                    draw-function='drawRegularPolygon'
	                    function-options='{"N": 6, "alternateSideStrokes": true, "concave": true}'
	                    options='{"autoRotateDegrees":60,"inscribed":"circle","initialRotation":120}'
	                ></div>
			    </div>
		    </div>
		    <!-- star n-gons -->

			<!-- shapes -->
			<div>
				<h2>Shapes</h2>
				<div class='half'>
					<p>C6 Shape</p>
			    	<div id='canvas-C6' class='canvas'></div>
			    	<script type="text/javascript-lazy">
			    		'use strict';

					    var C6 = {
					    	paper: new Raphael('canvas-C6', '100%', 400),
					    	functionOptions: {
					    		N: 6,
					    	},
					    	options: {
					    		margin: 12,
					    		inscribed: true,
					    	},
					    };
					    drawInCanvasCenter(C6.paper, drawCyclicShape, C6.functionOptions, C6.options);


			    	</script>
			    </div>
				<div class='half'>
					<p>D7</p>
			    	<div id='canvas-D7' class='canvas'></div>
			    	<script type="text/javascript-lazy">
			    		'use strict';

					    var D7 = {
					    	paper: new Raphael('canvas-D7', '100%', 400),
					    	functionOptions: {
					    		alternateSideStrokes: true,
					    		N: 7,
					    	},
					    	options: {
					    		margin: 12,
					    		inscribed: true,
					    	},
					    };
					    drawInCanvasCenter(D7.paper, drawDihedralShape, D7.functionOptions, D7.options);

			    	</script>
			    </div>
		    </div>
		    <!-- cyclic and dihedral shapes -->

			<!-- More shapes -->
			<div>
				<h2>More shapes</h2>
				<div class='half'>
					<p>Rectangle</p>
					
			    	<div class='canvas third'
				    	canvas-centered-drawing 
				    	draw-function='drawRectangle'
				    	function-options='{"alternateSideStrokes": true}'
				    	options='{"margin": 12, "inscribed": true}'
				    ></div>
			    </div>
				<div class='half'>
					<p>C5 with alternating side strokes</p>

			    	<div class='canvas third'
				    	canvas-centered-drawing 
				    	draw-function='drawCyclicShape'
				    	function-options='{"N": 5, "sideStrokes": [1, 1, 2, 2, 0]}'
				    	options='{"margin": 12, "inscribed": true}'
				    ></div>

			    </div>
		    </div>
		    <!-- More shapes -->

			<!-- Colored shapes -->
			<div>
				<h2>Colored shapes</h2>
				<div class='half'>
					<p>Rectangle with alternating color fills</p>
					
			    	<div class='canvas third'
				    	canvas-centered-drawing 
				    	draw-function='drawRectangle'
				    	function-options='{"coloring": [0, 1]}'
				    ></div>
			    </div>
				<div class='half'>
					<p>C5 with alternating side strokes</p>

			    	<div class='canvas third'
				    	canvas-centered-drawing 
				    	draw-function='drawCyclicShape'
				    	function-options='{"N": 5, "coloring": [1, 2, 3, 4, 5]}'
				    ></div>

			    </div>
		    </div>
		    <!-- Colored shapes -->

	   </div>

		<!-- frieze -->
		<div>
			<h3>Frieze</h3>

			<div ng-init="selectedGroupName='p1a1'; groupNames=['p1', 'p11m', 'p1m1', 'p1a1', 'p2', 'p2mg', 'p2mm'];">
				<ul>
					<!-- angular creates child scopes for each item in ng-repeat, so neex to update $parent scope -->
					<li class="clickable" ng-class="{active: groupName==selectedGroupName}" ng-repeat="groupName in groupNames" ng-click="$parent.selectedGroupName=groupName">
						{{groupName}}
					</li>
				</ul>
			
				<div ng-repeat="groupName in groupNames" class="frieze-pattern-container">
					<div ng-if="selectedGroupName===groupName">
						<p>Selected Group: {{groupName}}</p>
						<div class='frieze-pattern'
						pattern-function=petalEllipse
						group-name='{{groupName}}'
						fundamental-domain-width=100
						fundamental-domain-height=80
						margin=10
						></div>
					</div>
				</div>
			</div>

		</div>
		<!-- frieze -->

		<div id='test-canvas'></div>
	   	
	</div>
	<!-- Pieces -->
</div>