/*
Styles for the solution pages
*/

section#solutions-pages {
    max-width: 7in;
    margin: auto;
}
section#solutions-pages .solution-info {
    padding: 0.5in;
    font-size: 10pt;
}

#solutions-pages h1 {
    text-transform: uppercase;
    font-weight: 300;
    padding: 50px 0;
    margin: unset;
}

.solution-page {
    border-bottom: 1px dashed gray;
    max-width: 5.68in;
    padding: 0.33in 0.1in;
    margin: auto;
    font-size: 9pt;
    line-height: 12pt;
}
.solution-page .coloring-content {
    text-align: center;
}

.solution-page .page-heading {
    display: block;
    margin-bottom: 0.25in;
}
.solution-page:first-of-type {
    border-top: 1px dashed gray;
}

/* solution-page headings */
.solution-page .page-heading .heading-title{
    float: left;
}
.solution-page .page-number {
    float: right;
}
.solution-page .text-content.challenges {
    margin-bottom: 0.25in;
}
.solution-page .text-content.challenges p {
    margin: 3px auto;
    text-align: center;
}
.solution-page .text-content.challenges p {
    /* for non-print only: */
    margin-bottom: 0.15in;
}

.solution-page .coloring-content img {
    width: 100%;
}

/*
Desired: Better way to make this look good on mobile
*/
@media (max-width: 6.9in) {
    .solution-page {
        overflow: scroll;
    }
    .solution-page .coloring-content {
        width: 5.66in;
    }
}

/*more solutions*/
#more-solutions,
.solutions-link {
    text-align: center;
    font-size: 1.5em;
}
#more-solutions {
    color: #3bcca6;
    font-weight: 600;
    text-transform: lowercase;
}
.solutions-link {
    text-transform: uppercase;
}
.solutions-link.selected {
    font-weight: 500;
}
.solutions-link.selected a {
    text-decoration: underline;
    cursor: pointer;
}
