
<section id="solutions-pages" ng-controller="SolutionsPageCntl as vm">
	<div class="solution-info">

		<h1>challenge solutions</h1>

		<p>Throughout this book, there are challenges to puzzle over and color through.  Many of these challenges can be successfully completed in numerous ways.</p>

		<p>A sample of solutions is provided.</p>
		<br/>
	</div>

<div id="solutions-sections">
<span ng-if="vm.selectedSection === 'shapes'">

<ng-include src="'/app/solutions/solutions-pages/solution-page-3.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-4.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-8.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-9.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-10.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-11.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-20.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-21.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-22.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-27.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-29.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-30.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-38.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-39.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-40.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-42.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-45.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-46.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-48.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-50.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-53.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-55.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-56.html'"></ng-include>

</span>
<!-- shapes -->

<span ng-if="vm.selectedSection === 'frieze'">
<ng-include src="'/app/solutions/solutions-pages/solution-page-60.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-61.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-62.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-68.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-69.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-70.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-71.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-83.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-84.html'"></ng-include>
</span>
<!-- frieze -->

<span ng-if="vm.selectedSection === 'wallpaper'">
<ng-include src="'/app/solutions/solutions-pages/solution-page-wallpaper-o.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-wallpaper-STARSTAR.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-wallpaper-xx.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-wallpaper-xSTAR.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-wallpaper-2222.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-wallpaper-STAR2222.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-wallpaper-22x.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-wallpaper-22STAR.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-wallpaper-2STAR22.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-wallpaper-442.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-wallpaper-4STAR2.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-wallpaper-333.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-wallpaper-3STAR3.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-wallpaper-STAR333.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-wallpaper-632.html'"></ng-include>
<ng-include src="'/app/solutions/solutions-pages/solution-page-wallpaper-STAR632.html'"></ng-include>
</span>
<!-- wallpaper -->

</div>

<p id="more-solutions">more solutions</p>
<span ng-repeat="s in vm.sections">
	<p class="solutions-link" ng-class="{'selected':s!==vm.selectedSection}"><a ng-click="vm.selectSection(s)">{{s}}</a></p>
</span>




<div class="solution-info">

	<p style="font-style: italic;">If you would like to share your solutions, please send them to <a href="mailto:colorbymath@gmail.com?subject=Coloring%20Book%20Challenge%20Solution">colorbymath@gmail.com</a>. Optionally include your name, or social media username, or anything else that you would like to credit.</p>
</div>

</section>

<ng-include src="'/app/common/partials/footer.html'"></ng-include>
