<div class="book-page" id="book-page-last" ng-if="book.page.name == p.name || main.print">

    <div class="text-content">
        <div class="content-container-wrapper">
            <div class="content-container">
			    <p class="coming-soon">More is coming soon. Here are some wallpaper patterns to play with: <a target="_blank" ng-mouseup="menu.close()" href="/wallpaper">/wallpaper</a></p>

				<div ng-if="!main.print">
					<ng-include src="'/app/common/partials/get-updates.html'"></ng-include>
					<ng-include src="'/app/common/partials/footer.html'"></ng-include>
				</div>

			</div>
		</div>
	</div>

</div>
