/*
Goes with the fraction directive.
For representing fractions in HTML.
**/
.fraction {
	font-size: 60%;
	font-weight: 500;
	text-align: center;
	line-height: 1.5em;
	margin-right: -0.5em; /* (to account for the shift of the sub text) */
}
.fraction > sup, 
.fraction > sub,
.fraction .divider {
	display: inline-block;
	font: inherit;
	position: relative;
}
.fraction > sup {
	vertical-align: top;
}
.fraction .divider {
	left: -0.12em;
	font-size: 1.5em;
}
.fraction > sub {
	left: -0.5em;
}
